<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>招聘详情</title>

		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="renderer" content="webkit">
		<!--UC 浏览器-->
		<meta name="screen-orientation" content="portrait">
		<meta name="full-screen" content="yes">
		<!--QQ x5内核-->
		<meta name="x5-orientation" content="portrait">
		<meta name="x5-fullscreen" content="true">
		<meta name="format-detection" content="telephone=no, email=no">
		<link rel="stylesheet" type="text/css" href="../../static/lib/css/mkui.css">
		<link rel="stylesheet" href="../../static/lib/css/ydui.rem.css">
		<script src="../../static/lib/js/jquery-1.11.1.min.js"></script>
		<script src="../../static/lib/js/ydui,flexible.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/lib/js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/lib/js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/lib/js/ydui.js" type="text/javascript" charset="utf-8"></script>

		<link rel="stylesheet" type="text/css" href="../../static/css/common.css">
		<link rel="stylesheet" type="text/css" href="../../static/css/detail-zhaopin.css">
		<link rel="stylesheet" type="text/css" href="../../static/lib/css/bootstrap-grid.min.css">
		<link rel="stylesheet" type="text/css" href="../../static/lib/css/zoomify.min.css">
		<!--背景样式 弹框样式-->
		<script type="text/javascript" src="../../static/lib/js/jquery-1.11.1.min.js"></script>
		<!--jquery库-->
		<!--自定义弹框大小，提示信息，样式，icon。。。。-->
		<script src="../../static/lib/js/zoomify.min.js"></script>
		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
		<script type="text/javascript" src="../../js/config.js"></script>

		<style type="text/css">
			.fabuDetail {
				font-size: 11px;
				margin: 0 auto;
				width: 21px;
				line-height: 14px;
				color: white;
				position: fixed;
				top: 84px;
				right: 5px;
				border-radius: 3px;
				padding-top: 0.5rem;
				background-color: #F91605;
				opacity: 0.5;
				filter: alpha(Opacity=40);
				-moz-opacity: 0.4;
				height: 75px;
				text-align: center;
				zoom: 1.6;
			}
			
			.understandMore {
				font-weight: 600;
				text-align: center;
				display: none;
				font-family: NotoSansHans-Regular;
				font-size: 15px;
				color: #03A9F4;
			}
		</style>
	</head>

	<body class="bg-fff">
		<div id="app">
			<section class="job-head border-b">
				<div class="job-name overflow-h">
					<span class="fl">{{name}}</span>
					<span class="fr">{{xinzi}}</span>
				</div>
				<p class="zhiwei mt-10">职位 : <span>{{job}}</span></p>
				<div class="require overflow-h" v-if="jingyanyaoqiu||xueliyaoqiu||zhichengyaoqiu||ageyaoqiu||sexyaoqiu">
					<span class="fl yaoqiu">要求 : <span></span></span>
					<ul class="overflow-h">
						<li class="fl" v-if="jingyanyaoqiu"><span>{{jingyanyaoqiu}}</span><i></i></li>
						<li class="fl" v-if="xueliyaoqiu"><span>{{xueliyaoqiu}}</span><i></i></li>
						<li class="fl" v-if="zhichengyaoqiu"><span>{{zhichengyaoqiu}}</span><i></i></li>
						<li class="fl" v-if="ageyaoqiu"><span>{{ageyaoqiu}}</span><i></i></li>
						<li class="fl" v-if="sexyaoqiu"><span>{{sexyaoqiu}}</span><i></i></li>
					</ul>
				</div>
				<div class="fuli overflow-h" v-if="fulis"><span class="fl">福利：</span>
					<ul class="fl">
						<li class="fl pl-5 pr-5" style="height: auto;">{{fulis}}</li>
					</ul>
				</div>
			</section>
			<section class="collec border-b">
				<ul class="overflow-h mb-1">
					<li>更新：<span>{{gengxin}}</span></li>
					<li>收藏：<span>{{shoucang}}次</span></li>
					<li>浏览：<span>{{liulan}}人</span></li>
				</ul>
			</section>
			<div class="div1"></div>
			<section class="job-address">
				<h3 class="border-b mt-1 mb-1">工作地址</h3>
				<p class="border-b mb-1">{{dizhi}}
					<a :href='daohang' class="fr"><i class="ico ico-right fr"></i></a>
				</p>
			</section>
			<div class="div1"></div>
			<section class="job-deions">
				<h3 class="border-b mt-15">职位描述</h3>
				<div class="content">
					<!--<p>岗位职责：</p>-->
					<p v-html="zhiweimiaoshu">
					</p>
				</div>
			</section>
			<div class="div1"></div>
			<section class="job-deions company-name">
				<h3 class="border-b mt-15">公司信息</h3>
				<div class="conten-maint">
					<div class="company-intro border-b">
						<p>{{pingtai}}</p>
						<p>规模：{{guimo}}</p>
						<p>性质：{{xingzhi}}</p>
					</div>
					<div class="company-content">
						<p>企业简介</p>
						<p>{{qiyejianjie}}</p>
						<div class="container">
							<ul class="image-row">
								<li v-for="item in qiyetupian" class="example"><img :src="ip+item" class="img-rounded" /></li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<div class="tousu pos-r">
				<a :href="userInfo.regStatus == 1?'../zhaopin/tousu.html?id=' + id + '&name=' + name:'../../register/register.html'" charset="utf-8">
					<div class="tousu-main pos-a">
						<i class="ico ico-tousu"></i>
						<span>投诉</span>
					</div>
				</a>
			</div>
			<section>
				<h2 class="module-title pd-10 overflow-h border-b mt-1">
            		<span class="fl more-main">最新招聘</span>
        		</h2>
				<section class="content-list  lh-24 ">
					<div>
						<article class="m-list list-theme4">
							<a v-for="item in zuixinzhaopins" :href='"zhaopindetail.html?id="+item.id' class="list-item">
								<div class="list-img"></div>
								<div class="list-mes">
									<div class="list-title">
										<p class="f-16 ">
											<span>{{item.title}}</span>
											<span class="fr c-ec9d1d">{{item.experience}}</span>
										</p>
									</div>
									<div class="list-other">
										<h4 class="mt-10 f-14 overflow-h">
											<span class="fl">{{item.orgName}}</span>
											<span class="fr time mr-8 ">{{item.createdAt}}</span>
										</h4>
										<p class="recruit-pos f-14 mt-5 pos-name">
											<span>{{item.city}}</span>
											<span class="ml-10">{{item.experience}}</span>
											<span class="ml-10">{{item.salary}}</span>
										</p>
									</div>
								</div>
							</a>
						</article>
						<div></div>
					</div>
				</section>
			</section>
			<div style="height: 57px;"></div>
			<footer v-if="type==1&&localStorage.userId!=userId">
				<ul class="overflow-h">
					<li style="height: 100px">
						<a :href='"tel:"+phone'>
							<img src="../../static/img/ico-phone.png" alt="" />
							<span>电话</span>
						</a>
					</li>
					<li class="second">
						<a :href='userInfo.regStatus == 1?"../../message/chat_detail.html?id="+userId:"../../register/register.html"'>
							<img src="../../static/img/xiaoxi.png" alt="" />
							<span>消息</span>
						</a>
					</li>
					<li class="third sc" @click="favourite()">
						<img v-if="isShoucang" src="../../static/img/shoucang2.png" alt="" />
						<img v-else src="../../static/img/shoucang1.png" alt="" />
						<span class="on">收藏</span>
					</li>
					<li class="last">
						<span v-if="isToudi" class="todi" id="asd">已投递简历</span>
						<span v-else class="todi" @click="toudi()">投递简历</span>
					</li>
				</ul>
			</footer>
			<section id="m-publsh" class="m-mask bg-opcity-black none">
				<div class="text-main h-200">
					<p class="border-b">提示</p>
					<p>您还未创建简历，发布简历后才可以投递</p>
					<p class="overflow-h">
						<span class="fl quxiao">取消</span>
						<span class="fl sure">
							<a href="../../publish/jianli/jianli.html">发布简历</a>
						</span>
					</p>
				</div>
			</section>
			<div class="fabuDetail" style="display: none;">我也要发布</div>
			<div class="understandMore">
				<p class="ml-10">了解更多请关注“仝仝生态”</p>
				<img src="../../static/img/wx_gzhewm.png" width="225px" height="225px;" style="margin: 0px auto;">
				<p class="ml-10 f-13 mt-5">长按识别二维码即可关注</p>
				<div style="height: 64px;"></div>
			</div>
		</div>
	</body>

	<!--<script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8">
		wx.config({
			"debug": false,
			"beta": false,
			"appId": "wxefda176107cb06b8",
			"nonceStr": "fs5XXqrmld",
			"timestamp": 1506671042,
			"url": "http:\/\/www.tongtongww.com\/list\/detailzhaopin?id=437",
			"signature": "791a183888a51b3d7f0b1e45ed893a037f507661",
			"jsApiList": ["checkJsApi", "onMenuShareTimeline", "onMenuShareAppMessage"]
		});
		var title = '【招聘】1';
		wx.ready(function() {
			var shareData = {
				title: title, // 分享标题
				desc: '1', // 分享描述
				link: window.location.href, // 分享链接
				imgUrl: ''
			};
			wx.onMenuShareAppMessage(shareData);
			wx.onMenuShareTimeline(shareData);
		});
	</script>-->

	<script type="text/javascript">
		var userInfo = '';
		getUserInfo(localStorage.userId, function(data) {
			userInfo = data.result;
			vm.type = data.result.type;
		})

		/* 如果是分享跳转的链接显示我要发布按钮*/
		var urlStr = window.location.href;
		if((urlStr.indexOf('from=singlemessage')) > 0 ||
			(urlStr.indexOf('from=timeline')) > 0 ||
			(urlStr.indexOf('from=groupmessage')) > 0) {
			$('.fabuDetail').css('display', 'block');
			$('.understandMore').css('display', 'block');
		}

		var qs = new QueryString();
		var id = parseInt(qs['id']);

		if(qs['isfb']) {
			window.history.pushState({}, "首页", "");
			window.addEventListener("popstate", function(e) {
				window.location.replace('employment.html?isback=isback');
			}, false);
		}
		localStorage.zhaopinsign = 1;

		post('/webZp/ZhaopinById', {
			id: id
		}, function(data) {
			var d = data.result;
			vm.name = d.name;
			vm.xinzi = d.xinzi;
			vm.job = d.job;
			vm.jingyanyaoqiu = d.jingyanyaoqiu;
			vm.xueliyaoqiu = d.xueliyaoqiu;
			vm.zhichengyaoqiu = d.zhichengyaoqiu;
			vm.ageyaoqiu = d.ageyaoqiu;
			vm.sexyaoqiu = d.sexyaoqiu;
			vm.fulis = d.fulis;
			vm.gengxin = d.gengxin;
			vm.shoucang = d.shoucang;
			vm.liulan = d.liulan;
			vm.dizhi = d.dizhi;
			vm.daohang = d.daohang;
			vm.zhiweimiaoshu = strReplace(d.zhiweimiaoshu);
			vm.pingtai = d.qiye;
			vm.guimo = d.guimo;
			vm.xingzhi = d.xingzhi;
			vm.qiyejianjie = d.qiyejianjie;
			vm.phone = d.phone;
			vm.userId = d.userId;
			vm.qiyetupian = d.jianjieUrl;
		})

		post('/webUser/addBrowser', {
			userId: localStorage.userId,
			articleId: id
		}, function(data) {})

		post('/webSc/isFavorite', {
			id: id,
			userId: localStorage.userId
		}, function(data) {
			vm.isShoucang = data.result;
			if(data.result) {
				$('.on').css('color', '#ec9d1d');
				$('.on').html('取消');
			}
		})

		post('/webZp/isToudi', {
			id: id,
			userId: localStorage.userId
		}, function(data) {
			vm.isToudi = data.result;
		})

		post('/webZp/Zhaopin', {
			pageNo: 1,
			pageSize: 2
		}, function(data) {
			vm.zuixinzhaopins = data.result;
		})

		var vm = new Vue({
			el: '#app',
			data: {
				message: '',
				fulis: '',
				zhiweimiaoshu: '',
				zuixinzhaopins: [],
				name: '',
				xinzi: '',
				job: '',
				gengxin: '',
				liulan: '',
				shoucang: '',
				dizhi: '',
				daohang: '',
				pingtai: '',
				guimo: '',
				xingzhi: '',
				qiyejianjie: '',
				jingyanyaoqiu: '',
				xueliyaoqiu: '',
				zhichengyaoqiu: '',
				ageyaoqiu: '',
				sexyaoqiu: '',
				type: 1,
				phone: '',
				userId: '',
				qiyetupian: [],
				isShoucang: false,
				isToudi: false
			},
			methods: {
				favourite: function() {
					if(userInfo.regStatus != 1) {
						window.location.href = '../../register/register.html';
						return;
					}

					post('/webSc/favorite', {
						userId: localStorage.userId,
						id: id,
						shoucang: !vm.isShoucang
					}, function(data) {
						vm.isShoucang = !vm.isShoucang;
						if(vm.isShoucang) {
							$('.on').css('color', '#ec9d1d');
							$('.on').html('取消');
						} else {
							$('.on').css('color', '#717171');
							$('.on').html('收藏');
						}
						vm.$dialog.toast({
							mes: data.reason,
							icon: 'success',
							timeout: 1500,
						});
					})
				},
				toudi: function() {
					post('/webZp/toudi', {
						userId: localStorage.userId,
						id: id
					}, function(data) {
						if(!data.result) {
							$('#m-publsh').removeClass('none');
							return;
						}
						vm.isToudi = !vm.isToudi;
						vm.$dialog.toast({
							mes: data.reason,
							icon: 'success',
							timeout: 1500,
						});
					})
				}
			},
		})

		$(function() {
			$('.quxiao').click(function() {
				$('#m-publsh').addClass('none');
			});

			/** 发布链接页面跳转*/
			$(".fabuDetail").on('click', function() {
				vm.$dialog.confirm({
					mes: '<div style="text-align: center;">发布信息之前需关注<font color="red">“仝仝生态”</font></br>是否确认关注?</div>',
					opts: [{
							txt: '关注',
							color: false,
							callback: function() {
								window.location.href = 'http://dwz.cn/6fbbCU';
							}
						},
						{
							txt: '我已关注',
							color: false,
							callback: function() {
								window.location.href = '../../fabu.html';
							}
						}
					]
				});
			});
		})
	</script>

</html>