<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>求职信息</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="renderer" content="webkit">
		<!--UC 浏览器-->
		<meta name="screen-orientation" content="portrait">
		<meta name="full-screen" content="yes">
		<!--QQ x5内核-->
		<meta name="x5-orientation" content="portrait">
		<meta name="x5-fullscreen" content="true">
		<meta name="format-detection" content="telephone=no, email=no">
		<link rel="stylesheet" type="text/css" href="../../static/lib/css/mkui.css">
		<link rel="stylesheet" href="../../static/lib/css/ydui.rem.css">
		<script src="../../static/lib/js/jquery-1.11.1.min.js"></script>
		<script src="../../static/lib/js/ydui,flexible.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/lib/js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/lib/js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/lib/js/ydui.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="../../js/config.js"></script>

		<link rel="stylesheet" type="text/css" href="../../static/css/common.css">
		<link rel="stylesheet" type="text/css" href="../../static/css/qiuzhi.css">
	</head>

	<body>
		<div id="app" class="no-select-two none">
			<div class="both-all">
				<!--搜索区域-->
				<section class="w-serach pos-f  pl-10 pr-10 bg-ff5252 overflow-h">
					<span class="search-text fl">
						<i class="ico ico-shouye"></i>
						<p><a href="../../home.html">首页</a></p>
					</span>
					<form action="">
						<div class="m-serah pos-r">
							<i class="ico ico-search-one left" @click="search()"></i>
							<input id="keyword" type="search" class="m-search-input text-c pl-20 pr-10 radius" v-model="title" placeholder="点击搜索简历" />
						</div>
					</form>
				</section>
				<section class="term ">
					<ul class="tab-nav  overflow-h ">
						<li class="border-r  address"><span class="">城市</span><i class="ico ico-bottom"></i></li>
						<li class="border-r zhiwei"><span>职位</span><i class="ico ico-bottom"></i></li>
						<li class="border-r xinzi"><span>薪资</span><i class="ico ico-bottom"></i></li>
						<li class="border-r quanbu"><span>更多</span><i class="ico ico-bottom"></i></li>
					</ul>
				</section>
				<input type="hidden" id="choosedcity" />
				<input type="hidden" id="choosedgangwei" />
				<input type="hidden" id="choosedxinzi" />
			</div>
			<div class="div1"></div>
			<div class="tab-panl none">
				<div class=" overflow-h">
					<ul class=" province fl">
						<li @click="buxian('city')">不限</li>
						<li v-for="item in province">{{item.name}}</li>
					</ul>
					<div class="city fl none">
						<ul>
							<li class="ret"></li>
						</ul>
					</div>
					<div class="city fl none" v-for="item in city">
						<ul>
							<li v-for="c in item" @click="selectcity(c.id)">{{c.name}}</li>
						</ul>
					</div>
				</div>
			</div>
			<!--职位-->
			<div class="tab-panl none">
				<div class="overflow-h h-100">
					<ul class=" fl job h-100">
						<li @click="buxian('gangwei')">不限</li>
						<li v-for="item in job">{{item.itemName}}</li>
					</ul>
					<div class="job-list fl none">
						<ul>
							<li class="ret"></li>
						</ul>
					</div>
					<div class="job-list fl none" v-for="item in joblist">
						<ul>
							<li v-for="j in item" @click="selectgangwei(j.itemCode)">{{j.itemName}}</li>
						</ul>
					</div>
				</div>
			</div>
			<!--薪资-->
			<div class="tab-panl none">
				<ul class="money gongzi">
					<li @click="selectxinzi('')">不限</li>
					<li v-for="item in xinzi" @click="selectxinzi(item.itemCode)">{{item.itemName}}</li>
				</ul>
			</div>
			<!--更多-->
			<div class="tab-panl none" id="genduo">
				<ul class="choice">
					<li>
						<span class="fl">工作经验</span>
						<i class="ico ico-right fr"></i>
						<span class="choice-text choice-jy select-btn fr">
							<select v-model="jingyan" >
				                <option value="">不限</option>
				                <option v-for="item in jingyans" :value='item.itemCode'>{{item.itemName}}</option>
				            </select>
				        </span>
					</li>
					<li>
						<span class="fl">学历</span>
						<i class="ico ico-right fr"></i>
						<span class="choice-text choice-xlselect-btn fr">
							<select   v-model="xueli" >
				                <option value="">不限</option>
				                <option v-for="item in xuelis" :value='item.itemCode'>{{item.itemName}}</option>
				            </select>
						</span>
					</li>
					<li>
						<span class="fl">性别</span>
						<i class="ico ico-right fr"></i>
						<span class="choice-text choice-nl select-btn fr">
							<select   v-model="gender" >
				                <option value="">不限</option>
				                <option value="1">男</option>
				                <option value="2">女</option>
				            </select>
						</span>
					</li>
					<li>
						<span class="fl">年龄</span>
						<i class="ico ico-right fr"></i>
						<span class="choice-text choice-nl select-btn fr">
							<select   v-model="age" >
				                <option value="">不限</option>
				                <option v-for="item in ages" :value='item.itemCode'>{{item.itemName}}</option>
				            </select>
						</span>
					</li>
					<li>
						<span class="fl">职称</span>
						<i class="ico ico-right fr"></i>
						<span class="choice-text choice-zc select-btn fr">
							<select   v-model="zhicheng" >
				                <option value="">不限</option>
				                <option v-for="item in zhichengs" :value='item.itemCode'>{{item.itemName}}</option>
				            </select>
						</span>
					</li>
				</ul>
				<div class="button" @click="filter()">确定筛选</div>
			</div>
			<section class="content-list  lh-24 ">
				<yd-infinitescroll :on-infinite="loadList">
					<yd-list theme="4" slot="list">
						<yd-list-item v-for="item in datalist" :href='"qiuzhidetail.html?id="+item.id'>
							<p slot="title" class="f-16 ">
								<span>{{item.title}}</span>
								<span class="fr c-ec9d1d">{{item.salary}}</span>
							</p>
							<yd-list-other slot="other">
								<h4 class="mt-10 f-14 ">
                            		<span class="fl">{{item.showfullname==1?item.orgName:hideStr(item.orgName)}}</span>
                            		<span class="ml-15">{{item.gender}}性</span>
                            		<span class="ml-10">{{item.age}}</span >
                            		<span class="fr time mr-8 ">{{item.updatedAt}}</span>
                        		</h4>
								<p class="recruit-pos f-14 mt-5 pos-name">
									<span>{{item.city}}</span>
									<span class="ml-10">{{item.experience}}</span>
									<span class="ml-10">{{item.education}}</span>
								</p>
							</yd-list-other>
						</yd-list-item>
					</yd-list>
					<!-- 数据全部加载完毕显示 -->
					<span slot="doneTip" class="text-c pd-5 f-14">全部数据已加载完成</span>
					<!-- 加载中提示 -->
					<img slot="loadingTip" src="../../static/img/loading10.svg" style="width: 1.5rem;height: 1.5rem;margin: .5rem" />
				</yd-infinitescroll>
			</section>
		</div>

	</body>

	<script>
		var province;
		var city;
		var job;
		var jobList;
		var xinzi;

		getCity(function(p, c) {
			this.province = p;
			this.city = c;
		})

		getDicTable(false, "006", function(data) {
			var list = data.result;
			var job = [];
			var jobList = [];
			var jobM = {};
			for(var i = 0; i < list.length; i++) {
				var obj = list[i];
				if(!obj.module) {
					job.push(obj);
				} else {
					jobList.push(obj);
				}
			}
			for(var i = 0; i < job.length; i++) {
				var array = [];
				for(var j = 0; j < jobList.length; j++) {
					if(job[i].id == jobList[j].module) {
						array.push(jobList[j]);
						jobM['' + job[i].id] = array;
					}
				}
			}
			this.job = job;
			this.jobList = jobM;
		})

		getDicTable(false, "001", function(data) {
			this.xinzi = data.result;
		})

		getDicTable(true, "004", function(data) {
			vm.jingyans = data.result;
		})

		getDicTable(true, "003", function(data) {
			vm.xuelis = data.result;
		})

		getDicTable(true, "012", function(data) {
			vm.ages = data.result;
		})

		getDicTable(true, "005", function(data) {
			vm.zhichengs = data.result;
		})

		var items = window.history.state;
		if(!items) {
			post('/webQz/Qiuzhi', {
				pageNo: 1,
				pageSize: 10
			}, function(data) {
				console.log(data);
				vm.datalist = data.result;
			})
		}

		var vm = new Vue({
			el: "#app",
			data: {
				page: 2,
				pageSize: 10,
				datalist: items,
				textarr: {
					jingyan: '请选择',
					xueli: '请选择',
					nianling: '请选择',
					xingbie: '请选择',
					zhicheng: '请选择'
				},
				job: job,
				joblist: jobList,
				xinzi: xinzi,
				province: province,
				city: city,
				jingyan: '',
				jingyans: [],
				xueli: '',
				xuelis: [],
				zhicheng: '',
				zhichengs: [],
				age: '',
				ages: [],
				gender: '',
				title: ''
			},
			methods: {
				loadList: function() {
					post('/webQz/Qiuzhi', {
						pageNo: vm.page,
						pageSize: vm.pageSize,
						title: vm.title,
						city: $("#choosedcity").val(),
						targetPost: $("#choosedgangwei").val(),
						targetSalary: $("#choosedxinzi").val(),
						experience: vm.jingyan,
						education: vm.xueli,
						professionalRank: vm.zhicheng,
						age: vm.age,
						gender: vm.gender,
					}, function(data) {
						console.log(data);
						_list = data.result;
						if(vm.page == 1) {
							vm.datalist = _list;
						} else {
							vm.datalist = vm.datalist.concat(_list);
						}

						items = vm.datalist;
						window.history.pushState(items, "", "qiuzhi.html");

						if(vm.page > 1 && _list.length < vm.pageSize) {
							window.$yduiBus.$emit('ydui.infinitescroll.loadedDone');
							return;
						}
						window.$yduiBus.$emit('ydui.infinitescroll.finishLoad');
						vm.page++;
					})
				},
				selectcity: function(id) {
					$("#choosedcity").val(id);
					vm.page = 1;
					$('.address').children('i').removeClass('ico-bottom2').addClass('ico-bottom');
					vm.loadList();
				},
				selectgangwei: function(id) {
					$("#choosedgangwei").val(id);
					vm.page = 1;
					$('.zhiwei').children('i').removeClass('ico-bottom2').addClass('ico-bottom');
					vm.loadList();
				},
				selectxinzi: function(id) {
					$("#choosedxinzi").val(id);
					vm.page = 1;
					$('.xinzi').children('i').removeClass('ico-bottom2').addClass('ico-bottom');
					vm.loadList();
				},
				filter: function() {
					vm.page = 1;
					$('.tab-panl').addClass('none');
					$('.quanbu').children('i').removeClass('ico-bottom2').addClass('ico-bottom');
					vm.loadList();
				},
				search: function() {
					vm.page = 1;
					vm.loadList();
				},
				buxian: function(t) {
					if(t == 'gangwei') {
						$(".tab-nav>.zhiwei>span").html('职位');
						$(".tab-nav>.zhiwei>span").removeClass('current');
						$(".tab-nav>.zhiwei>i").removeClass('ico-bottom2').addClass('ico-bottom');;
						$("#choosedgangwei").val('')
					}
					if(t == 'city') {
						$(".tab-nav>.address>span").html('城市');
						$(".tab-nav>.address>span").removeClass('current');
						$(".tab-nav>.address>i").removeClass('ico-bottom2').addClass('ico-bottom');
						$("#choosedcity").val('')
					}
					$('.tab-panl').addClass('none');
					vm.page = 1;
					vm.loadList();
				}
			},
			mounted: function() {
				$("#app").show();
			}

		});

		$(function() {
			$('.tab-nav li').on("click", function() {
				$('.tab-nav li span').removeClass('current');
				$(this).find('span').addClass('current');
				if($('.tab-panl').eq($(this).index()).hasClass('none')) {
					$('.tab-panl').eq($(this).index()).removeClass('none').siblings('.tab-panl').addClass('none');
					$(this).children('i').removeClass('ico-bottom').addClass('ico-bottom2');
					$(this).siblings().children('i').removeClass('ico-bottom2').addClass('ico-bottom')
				} else {
					$('.tab-panl').eq($(this).index()).addClass('none').siblings('.tab-panl').addClass('none');

					$(this).children('i').removeClass('ico-bottom2').addClass('ico-bottom');
					$(this).find('span').removeClass('current')
				}
				//$(this).children('i').removeClass('ico-bottom2').addClass('ico-bottom1');
			});
			$('.province li').click(function() {
				$('.city').eq($(this).index()).removeClass('none').siblings('.city').addClass('none');
				$(this).css('background', '#FFFFFF').siblings('.province li').css('background', '#ededed');
			});
			$('.city li').click(function() {
				$('.address span').text($(this).text())
				$('.city li ').removeClass('current');
				$(this).addClass('current')
				$('.tab-panl').addClass('none')
				$('.address span').removeClass('current');
			})
			/*职位*/
			$('.job li').click(function() {
				$('.job-list').eq($(this).index()).removeClass('none').siblings('.job-list').addClass('none');
				$(this).css('background', '#FFFFFF').siblings('.job li').css('background', '#ededed');
			});
			$('.job-list li').click(function() {
				$('.zhiwei span').text($(this).text());
				$('.tab-panl').addClass('none');
				$('.zhiwei span').removeClass('current');
				$('.job-list li ').removeClass('current');
				$(this).addClass('current')
			});
			$('.gongzi li').click(function() {
				$('.xinzi span').text($(this).text());
				$('.tab-panl').addClass('none');
				$('.xinzi span').removeClass('current');
			});
			$('.xingzhi li').click(function() {
				$('.quanbu span').text($(this).text());
				$('.tab-panl').addClass('none')
			});
			$('.button').click(function() {
				$('.quanbu span').removeClass('current');
			});

			$("#keyword").on('keypress', function(e) {
				var keycode = e.keyCode;
				var searchName = $(this).val();
				if(keycode == '13') {
					e.preventDefault();
					//请求搜索接口
					vm.page = 1;
					vm.loadList();
				}
			});
		});
	</script>

</html>