<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>简历详情</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="renderer" content="webkit">
		<!--UC 浏览器-->
		<meta name="screen-orientation" content="portrait">
		<meta name="full-screen" content="yes">
		<!--QQ x5内核-->
		<meta name="x5-orientation" content="portrait">
		<meta name="x5-fullscreen" content="true">
		<meta name="format-detection" content="telephone=no, email=no">
		<link rel="stylesheet" type="text/css" href="../../static/lib/css/mkui.css">
		<link rel="stylesheet" href="../../static/lib/css/ydui.rem.css">
		<script src="../../static/lib/js/jquery-1.11.1.min.js"></script>
		<script src="../../static/lib/js/ydui,flexible.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/lib/js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/lib/js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/lib/js/ydui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/lib/js/axios.min.js"></script>

		<link rel="stylesheet" type="text/css" href="../../static/css/common.css">
		<link rel="stylesheet" type="text/css" href="../../static/css/detail-jianlj.css">
		<script type="text/javascript" src="../../static/lib/js/jquery-1.11.1.min.js"></script>

		<style type="text/css">
			.fabuDetail {
				font-size: 11px;
				margin: 0 auto;
				width: 21px;
				line-height: 14px;
				color: white;
				position: fixed;
				top: 84px;
				right: 5px;
				border-radius: 3px;
				padding-top: 0.5rem;
				background-color: #F91605;
				opacity: 0.5;
				filter: alpha(Opacity=40);
				-moz-opacity: 0.4;
				height: 75px;
				text-align: center;
				zoom: 1.6;
			}
			
			.understandMore {
				font-weight: 600;
				text-align: center;
				display: none;
				font-family: NotoSansHans-Regular;
				font-size: 15px;
				color: #03A9F4;
			}
		</style>
	</head>

	<body class="bg-fff">

		<div id="app">
			<section class="detail-head overflow-h border-b">
				<div class="head-pic ">
					<img :src='avatar?ip+avatar:"../../static/img/avatar_96x96.png"' />
				</div>
				<p class="text-c mingzi mt-10">
					{{name}}<i class="ico" v-bind:class="[gender?'ico-boy':'ico-girl']"></i>
				</p>
			</section>
			<section class="collec ">
				<ul class="overflow-h">
					<li class="border-r ml-10">更新：<span>{{updated_at}}</span></li>
					<li class="border-r">收藏：<span>{{favourite}}次</span></li>
					<li class="">浏览：<span>{{view}}人</span></li>
				</ul>
			</section>
			<div class="div1"></div>
			<div class="head-main pb-14">
				<section class="hope-job">
					<h3 class="border-b ">基本信息</h3>
				</section>
				<div class="head-quali overflow-h">
					<ul class="overflow-h">
						<li>手机号码：{{phone}}</li>
						<li>电子邮箱：{{email}}</li>
						<li>真实年龄：{{age}}</li>
						<li>最高学历：{{xueli}}</li>
						<li>工作经验：{{jingyan}}</li>
						<li>所在城市：{{city}}</li>
						<li>工作职称：{{zhicheng}}</li>
					</ul>
				</div>
			</div>

			<!--</section>-->

			<div class="div1"></div>
			<!--期望工作-->
			<section class="hope-job">
				<h3 class="border-b ">期望工作</h3>
				<div class="name-job">
					<p class="job-name">{{gangwei}}</p>
					<p class="job-money mt-5">{{gongzuofangshi}} /{{targetprovince}}{{targetcity}} /{{targetxinzi}}
					</p>
					<p class="job-money  mt-5">目前状态: {{onduty==1?'在职':'离职'}}/{{jointime}}</p>
				</div>
			</section>
			<div class="div1"></div>
			<!--工作经历-->
			<section class="job-exp">
				<h3 class="border-b mb-10">工作经历</h3>
				<div v-for="work in worklist">
					<div class="job-time-2">
						<i class="ico ico-round"></i>
						<span>{{work.startdate}}至 {{work.enddate}}</span>
					</div>
					<div class="job-content border-l" style="padding-bottom: 0.8rem;">
						<p style="margin-top: 1.2rem; padding-top: 0;">{{showcompanyname?work.companyname:'*****'}}</p>
						<p style="margin-top: 0.3rem; padding-top: 0;">{{work.brief}}</p>
					</div>
				</div>
			</section>
			<div class="div1"></div>
			<!--教育经历-->
			<section class="hope-job educa-exp">
				<h3 class="border-b mb-10">教育经历</h3>
				<div v-for="study in studylist">
					<div class="job-time-2">
						<i class="ico ico-round"></i>
						<span>{{study.graduationyear}}年毕业</span>
					</div>
					<div class="job-content border-l school" style="padding-bottom: 0.8rem;">
						<p style="margin-top: 1.2rem; padding-top: 0;">{{study.schoolname}}</p>
						<p style="margin-top: 0.3rem; padding-top: 0;">{{getXueli(study.xueli)}}.{{study.major}}</p>
					</div>
				</div>
			</section>
			<div class="div1"></div>
			<!--自我评价-->
			<section class="hope-job evaluation">
				<h3 class="border-b ">自我评价</h3>
				<div class="name-job self-narrative">
					<p class="job-name" v-html="evaluation"></p>
				</div>
			</section>
			<!--投诉-->
			<div class="tousu pos-r">
				<a :href="userInfo.regStatus == 1?'../zhaopin/tousu.html?id=' + id + '&name=' + name:'../../register/register.html'">
					<div class="tousu-main pos-a">
						<i class="ico ico-tousu"></i>
						<span>投诉</span>
					</div>
				</a>
			</div>
			<!--<?php if(!empty($items)){?>-->
			<!--&lt;!&ndash;相似职位&ndash;&gt;-->
			<!--<section class="hope-job like-job">-->
			<!--<h3 class="border-b ">相似求职</h3>-->
			<!--<div class="m-list">-->
			<!--<ul>-->
			<!--<?php foreach ($items as $k=>$v){?>-->
			<!--<li class="overflow-h  border-b padd">-->
			<!--<a href="<?=$v['url']?>">-->
			<!--<div class="recruit-list fl ml-10 ">-->
			<!--<div class="recruit-header overflow-h">-->
			<!--<h4 class="fl"><?=$v['title']?></h3>-->
			<!--<p class="fr"><?=$v['xinzi']?></p>-->
			<!--</div>-->
			<!--<div class="recruit-header overflow-h">-->
			<!--<ul class="name-list overflow-h fl">-->
			<!--<li>-->
			<!--<?=$v['name']?>-->
			<!--</li>-->
			<!--<li>-->
			<!--<?=$v['gender']?>-->
			<!--</li>-->
			<!--<li>-->
			<!--<?=$v['age']?>-->
			<!--</li>-->
			<!--</ul>-->
			<!--<span class="fr time"><?=$v['created_at']?></span>-->
			<!--</div>-->
			<!--<p class="recruit-pos"><span><?=$v['city']?></span> <span-->
			<!--class="ml-10"><?=$v['jingyan']?></span> <span class="ml-10"><?=$v['xueli']?></span>-->
			<!--</p>-->
			<!--</div>-->
			<!--</a>-->
			<!--</li>-->
			<!--<?php }?>-->
			<!--</ul>-->
			<!--</div>-->
			<!--</section>-->
			<!--<?php }?>-->
			<div style="height: 57px;"></div>
			<footer v-if="type==2&&localStorage.userId!=userId">
				<ul class="overflow-h">
					<li>
						<a :href="'tel:'+phone">
							<img src="../../static/img/ico-phone.png" alt="" />
							<span>电话</span>
						</a>
					</li>
					<li class="second">
						<a :href='userInfo.regStatus == 1?"../../message/chat_detail.html?id="+userId:"../../register/register.html"'>
							<img src="../../static/img/xiaoxi.png" alt="" />
							<span>消息</span>
						</a>
					</li>
					<li class="third sc" @click="favouriteClick()">
						<img v-if="isShoucang" src="../../static/img/shoucang2.png" alt="" />
						<img v-else src="../../static/img/shoucang1.png" alt="" />
						<span class="on">收藏</span>
					</li>
					<li class="last">
						<span v-if="isToudi" class="todi" id="asd" @click="toudi()">已邀请面试</span>
						<span v-else class="todi" @click="toudi()">邀请面试</span>
					</li>
				</ul>
			</footer>

			<div class="fabuDetail" style="display: none;">我也要发布</div>
			<div class="understandMore">
				<p class="ml-10">了解更多请关注“仝仝生态”</p>
				<img src="../../static/img/wx_gzhewm.png" width="225px" height="225px;" style="margin: 0px auto;">
				<p class="ml-10 f-13 mt-5">长按识别二维码即可关注</p>
				<div style="height: 64px;"></div>
			</div>
		</div>
	</body>

	<script type="text/javascript" src="../../js/config.js"></script>
	<script type="text/javascript">
		var userInfo = '';
		getUserInfo(localStorage.userId, function(data) {
			userInfo = data.result;
			vm.type = data.result.type;
		})

		/* 如果是分享跳转的链接显示我要发布按钮*/
		var urlStr = window.location.href;
		if((urlStr.indexOf('from=singlemessage')) > 0 ||
			(urlStr.indexOf('from=timeline')) > 0 ||
			(urlStr.indexOf('from=groupmessage')) > 0) {
			$('.fabuDetail').css('display', 'block');
			$('.understandMore').css('display', 'block');
		}

		var qs = new QueryString();
		var id = parseInt(qs['id']);

		var xuelis;
		getDicTable(true, "003", function(data) {
			xuelis = data.result;
		})

		post('/webQz/QiuzhiById', {
			id: id
		}, function(data) {
			var d = data.result;
			if(d.showfullname == 1) {
				vm.name = d.name;
			} else {
				vm.name = hideStr(d.name);
			};
			vm.avatar = d.touxiang;
			vm.updated_at = d.gengxin;
			vm.favourite = d.shoucang;
			vm.view = d.liulan;
			vm.phone = d.phone;
			vm.email = d.email;
			vm.age = d.age;
			vm.xueli = d.educational;
			vm.jingyan = d.exprience;
			vm.targetcity = d.targetcity;
			vm.zhicheng = d.profession;
			vm.evaluation = strReplace(d.evaluation);
			vm.worklist = JSON.parse(d.experience);
			vm.studylist = JSON.parse(d.education);
			vm.gongzuofangshi = d.operationMode;
			vm.onduty = d.onduty;
			vm.jointime = d.jointime;
			vm.gangwei = d.gangwei;
			vm.city = d.city;
			vm.targetprovince = d.targetprovince;
			vm.targetxinzi = d.targetSalary;
			vm.gender = d.sex == '男';
			vm.showcompanyname = d.showcompanyname == 1;
			vm.userId = d.userId;
		})

		function getXueli(id) {
			for(var i = 0; i < xuelis.length; i++) {
				if(xuelis[i].itemCode == id) {
					return xuelis[i].itemName;
				}
			}
		}

		post('/webSc/isFavorite', {
			id: id,
			userId: localStorage.userId
		}, function(data) {
			vm.isShoucang = data.result;
			if(data.result) {
				$('.on').css('color', '#ec9d1d');
				$('.on').html('取消');
			}
		})

		post('/webQz/isInterview', {
			id: id,
			userId: localStorage.userId
		}, function(data) {
			vm.isToudi = data.result;
		})

		post('/webUser/addBrowser', {
			userId: localStorage.userId,
			articleId: id
		}, function(data) {})

		post('/webQz/Qiuzhi', {
			pageNo: 1,
			pageSize: 2
		}, function(data) {
			vm.zuixinzhaopins = data.result;
		})

		var vm = new Vue({
			el: '#app',
			data: {
				avatar: '',
				name: '',
				gender: true,
				updated_at: '',
				favourite: '',
				view: '',
				phone: '',
				email: '',
				age: '',
				xueli: '',
				jingyan: '',
				city: '',
				zhicheng: '',
				gangwei: '',
				gongzuofangshi: '',
				targetprovince: '',
				targetcity: '',
				targetxinzi: '',
				onduty: '',
				jointime: '',
				worklist: [],
				studylist: [],
				evaluation: '',
				showcompanyname: false,
				type: 2,
				isShoucang: false,
				isToudi: false,
				userId: '',
				phone: ''
			},
			methods: {
				favouriteClick: function() {
					if(userInfo.regStatus != 1) {
						window.location.href = '../../register/register.html';
						return;
					}

					post('/webSc/favorite', {
						userId: localStorage.userId,
						id: id,
						shoucang: !vm.isShoucang
					}, function(data) {
						vm.isShoucang = !vm.isShoucang;
						if(vm.isShoucang) {
							$('.on').css('color', '#ec9d1d');
							$('.on').html('取消');
						} else {
							$('.on').css('color', '#717171');
							$('.on').html('收藏');
						}
						vm.$dialog.toast({
							mes: data.reason,
							icon: 'success',
							timeout: 1500,
						});
					})
				},
				toudi: function() {
					if(!localStorage.userId) {
						window.location.href = '../../register/register.html';
						return;
					}

					post('/webQz/Interview', {
						userId: localStorage.userId,
						id: id,
						isYaoqing: !vm.isToudi
					}, function(data) {
						console.log(data);
						vm.isToudi = !vm.isToudi;
						vm.$dialog.toast({
							mes: data.reason,
							icon: 'success',
							timeout: 1500,
						});
					})
				}
			},
		})

		$(function() {
			/** 发布链接页面跳转*/
			$(".fabuDetail").on('click', function() {
				vm.$dialog.confirm({
					mes: '<div style="text-align: center;">发布信息之前需关注<font color="red">“仝仝生态”</font></br>是否确认关注?</div>',
					opts: [{
							txt: '关注',
							color: false,
							callback: function() {
								window.location.href = 'http://dwz.cn/6fbbCU';
							}
						},
						{
							txt: '我已关注',
							color: false,
							callback: function() {
								window.location.href = '../../fabu.html';
							}
						}
					]
				});
			});
		})
	</script>

</html>