<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>仝仝资讯</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="renderer" content="webkit">
		<!--UC 浏览器-->
		<meta name="screen-orientation" content="portrait">
		<meta name="full-screen" content="yes">
		<!--QQ x5内核-->
		<meta name="x5-orientation" content="portrait">
		<meta name="x5-fullscreen" content="true">
		<meta name="format-detection" content="telephone=no, email=no">
		<link rel="stylesheet" type="text/css" href="../../static/lib/css/mkui.css">
		<link rel="stylesheet" href="../../static/lib/css/ydui.rem.css">
		<script src="../../static/lib/js/jquery-1.11.1.min.js"></script>
		<script src="../../static/lib/js/ydui,flexible.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/lib/js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/lib/js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/lib/js/ydui.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../../static/css/zixun.css">

		<style>
			::-webkit-scrollbar {
				width: 0em;
			}
		</style>
	</head>

	<body>
		<div id="app" class="zixun">
			<section class="nav-list">
				<ul class="nav-head">
					<li id="category_" class="current" @click="loadFirstPage('')">推荐</li>
					<li v-for="categorie in categories" :id="'category_'+categorie.id" @click="loadFirstPage(categorie.id)">
						{{categorie.title}}
					</li>
				</ul>
			</section>
			<div style="height:40px;"></div>
			<yd-infinitescroll :on-infinite="loadList">
				<yd-list theme="4" slot="list">
					<yd-list-item v-for="item in datalist" :href='"zixundetail.html?id="+item.id'>
						<img slot="img" :src="ip+item.imgUrl">
						<span slot="title" class="mt-3">{{item.title}}</span>
						<yd-list-other slot="other">
							<p class="overflow-h mt-10">
								{{item.category}}
							</p>
							<div>{{item.updatedAt}}</div>
						</yd-list-other>
					</yd-list-item>
				</yd-list>
				<!-- 数据全部加载完毕显示 -->
				<span slot="doneTip" style="font-size: 1.2rem; padding: 0.5rem;">全部数据已加载完成</span>
				<!-- 加载中提示 -->
				<img slot="loadingTip" style="width: 3rem; height: 3rem; padding: 0.5rem;" src="../../static/img/loading10.svg" />
			</yd-infinitescroll>
		</div>

		<script type="text/javascript" src="../../js/config.js"></script>
		<script>
			getClassifyTable(true, 'base', function(data) {
				var list = data.result;
				for(var i = 0; i < list.length; i++) {
					if(list[i].pid != 0) {
						vm.categories.push(list[i]);
					}
				}
			})

			post('/webZx/Base', {
				pageNo: 1,
				pageSize: 10,
				categoryId: ''
			}, function(data) {
				console.log(data);
				vm.datalist = data.result;
			})

			var vm = new Vue({
				el: '#app',
				data: {
					pageNo: 2,
					pageSize: 10,
					categories: [],
					datalist: [],
					categoryid: ''
				},
				methods: {
					loadList: function() {
						post('/webZx/Base', {
							pageNo: vm.pageNo,
							pageSize: vm.pageSize,
							categoryId: vm.categoryid
						}, function(data) {
							console.log(data)
							_list = data.result;
							if(vm.pageNo == 1) {
								vm.datalist = _list;
							} else {
								vm.datalist = vm.datalist.concat(_list);
							}
							if(vm.pageNo > 1 && _list.length < vm.pageSize) {
								window.$yduiBus.$emit('ydui.infinitescroll.loadedDone');
								return;
							}
							window.$yduiBus.$emit('ydui.infinitescroll.finishLoad');
							vm.pageNo++;
						})
					},
					loadFirstPage: function(categoryid) {
						this.categoryid = categoryid;
						post('/webZx/Base', {
							pageNo: 1,
							pageSize: vm.pageSize,
							categoryId: categoryid
						}, function(data) {
							vm.datalist = data.result;
						})
					}
				}
			})

			$(function() {
				$('.nav-head li').click(function() {
					$(this).addClass('current').siblings('.nav-head li').removeClass('current');
					$('.car-list').eq($(this).index()).show().siblings('.car-list').hide();
					//window.location.href="/site/zixun?categoryid="+$(this).attr("id").split("_")[1]; 
					//var id = $(this).attr("id").split("_").length > 1 ? $(this).attr("id").split("_")[1] : "";
					//$("#choosecategory").val(id); 
				});
			});
		</script>
	</body>

</html>