<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>工作经历</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="no">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="renderer" content="webkit">
		<meta name="screen-orientation" content="portrait">
		<meta name="full-screen" content="yes">
		<meta name="x5-orientation" content="portrait">
		<meta name="x5-fullscreen" content="true">
		<meta name="format-detection" content="telephone=no, email=no">
		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
		<script type="text/javascript" src="../../static/lib/js/vue.min.js"></script>
		<script type="text/javascript" src="../../static/lib/js/ydui.js"></script>

		<link rel="stylesheet" href="../../css/mkui.css" />
		<link rel="stylesheet" href="../../static/lib/css/ydui.rem.css" />
		<link rel="stylesheet" href="../../static/css/common.css" />
		<script src="../../js/config.js" type="text/javascript" charset="utf-8"></script>

	</head>

	<body>

		<script type="text/javascript" charset="utf-8">
			var Request = new QueryString();
			var itemid = Request["id"];
			var brief, companyname, gangwei, startdate, enddate, jobWanId, publishId;
			 //			if (itemid) {
			post1('/webQz/QiuzhiById', false, {
					"userId": localStorage.userId,
				}, function(data) {
					console.log(data);
					if (data.result.jobWanId) {
						this.jobWanId = data.result.jobWanId;
						this.publishId = data.result.publishId;
					}
					if (data.result.experience) {
						var workDic = JSON.parse(data.result.experience);
						var obj = workDic[itemid];
						this.companyname = obj.companyname;
						this.gangwei = obj.gangwei;
						this.startdate = obj.startdate;
						this.enddate = obj.enddate;
						this.brief = obj.brief;
					}
				})
				//			}
		</script>
		<div id="app">
			<section class="zp-body">
				<div class="zp-list overflow-h">
					<span class="fl">公司名称</span>
					<span class="fr zp-next">
						<input type="text" placeholder="请填写公司名称" v-model="companyname" />
					</span>
				</div>
				<div class="zp-list overflow-h">
					<span class="fl">职位</span>
					<span class="fr zp-next">
						<input type="text" placeholder="请填写你的职位" v-model="gangwei"/>
					</span>
				</div>
				<div class="zp-list overflow-h">
					<span class="fl">入职时间</span>
					<span class="fr no-flex  select-btn">
						<input v-model="startdate" type="date" class="start-time" onchange="start()" placeholder="请选择"/>
						<i class="ico ico-right6"></i>
					</span>
				</div>
				<div class="zp-list overflow-h">
					<span class="fl">离职时间<span class="f-13 c-998">(至今不填)</span></span>
					<span class="fr no-flex select-btn">
						<input v-model="enddate" type="date" class="end-time" onchange="end()" placeholder="至今的请不要填"/>
						<i class="ico ico-right6"></i>
					</span>
				</div>
				<div class="overflow-h">
					<yd-cell-group title="">
						<yd-cell-item>
							<yd-textarea slot="right" placeholder="请填写工作内容" maxlength="500" v-model="brief"></yd-textarea>
						</yd-cell-item>
					</yd-cell-group>
				</div>
			</section>
			<div class="h-20"></div>
			<div class="sure-btn" @click="update()">保存</div>
			<div class="h-20"></div>
		</div>
	</body>

	<script type="text/javascript">
		var id = "";
		var publishId1 = "";
		if (this.jobWanId) {
			id = this.jobWanId;
		}
		if (this.publishId) {
			publishId1 = this.publishId;
		}
		var vm = new Vue({
			el: '#app',
			data: {
				companyname: this.companyname,
				gangwei: this.gangwei,
				startdate: this.startdate,
				enddate: this.enddate,
				brief: this.brief
			},
			methods: {
				update() {
					if (!start()) {
						return false;
					}
					if (vm.enddate != '' && !end()) {
						return false;
					}
					vm.companyname = Trim(vm.companyname, 'g');
					vm.gangwei = Trim(vm.gangwei, 'g');
					if (vm.companyname == "") {
						alert('请填写公司名称')
						return
					}
					if (vm.gangwei == "") {
						alert('请填写你的职位')
						return
					}
					if ($('.start-time').val() == "") {
						alert('请选择入职时间')
						return
					}
					if (vm.brief == "") {
						alert('请填写工作内容')
						return
					}
					var dataa;
					if (itemid) {
						dataa = {
							"userId": localStorage.userId,
							"id": id,
							"publishId": publishId1,
							"companyname": vm.companyname,
							"gangwei": vm.gangwei,
							"startdate": vm.startdate,
							"enddate": vm.enddate,
							"brief": vm.brief,
							"operationType": 1,
							"experienceIndex": itemid
						}
					} else {
						dataa = {
							"userId": localStorage.userId,
							"id": id,
							"publishId": publishId1,
							"companyname": vm.companyname,
							"gangwei": vm.gangwei,
							"startdate": vm.startdate,
							"enddate": vm.enddate,
							"brief": vm.brief
						}
					}
					post('/webQz/editPersonalBasicInfo', dataa,
						function(data) {
							console.log(data);
							if (data.result_code == '1') {
								alert("保存成功!");
								window.history.go(-1);
							} else {
								alert("发布失败，请重试！");
							}
						})
				}
			}
		})
		var startdate = vm.startdate;

		function start() {
			var endTime = vm.startdate;
			var end = new Date(endTime.replace("-", "/").replace("-", "/"));
			var current = new Date();
			if (end > current) {
				vm.$dialog.alert({
					mes: '入职时间必须在今天之前!'
				});
				vm.startdate = startdate;
				return false;
			}
			return true;
		}
		var enddate = vm.enddate;

		function end() {
			var endTime = vm.enddate;
			var end = new Date(endTime.replace("-", "/").replace("-", "/"));
			var current = new Date();
			if (end > current) {
				vm.$dialog.alert({
					mes: '离职时间必须在今天之前!'
				});
				vm.enddate = enddate;
				return false;
			}
			return true;
		}

		function Trim(str, is_global) {
			var result;
			result = str.replace(/(^\s+)|(\s+$)/g, "");
			if (is_global.toLowerCase() == "g") {
				result = result.replace(/\s/g, "");
			}
			return result;
		}
	</script>

</html>