<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>编辑简历</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="no">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="renderer" content="webkit">
		<meta name="screen-orientation" content="portrait">
		<meta name="full-screen" content="yes">
		<meta name="x5-orientation" content="portrait">
		<meta name="x5-fullscreen" content="true">
		<meta name="format-detection" content="telephone=no, email=no">
		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
		<script type="text/javascript" src="../../static/lib/js/vue.min.js"></script>
		<script type="text/javascript" src="../../static/lib/js/ydui.js"></script>
		<script type="text/javascript" src="../../js/config.js"></script>

		<link rel="stylesheet" href="../../css/mkui.css" />
		<link rel="stylesheet" href="../../static/lib/css/ydui.rem.css" />
		<link rel="stylesheet" href="../../static/css/common.css" />
		<link rel="stylesheet" href="../../static/css/add-jianli.css" />
	</head>

	<body>
		<script type="text/javascript" charset="utf-8">
			getUserInfo(localStorage.userId, function(data) {
				if(data.result.regStatus != 1) {
					window.location.href = "../../register/register.html";
				} else {
					if(data.result.type == 2) {
						alert("企业用户不能发布求职信息!");
						window.location.href = "../../fabu.html";
					}
				}
			})
		</script>

		<div id="app">
			<section class="compile-head  bg-fff">
				<div class="overflow-h"><span class="fl ">近期证件照</span>
					<div class="fr compile-pic"><img style="border-radius: 50%;" id="avatar" src="../../static/img/my-logo.png" alt="" onclick="chooseImage()"><span class="fr g-right"><i class="ico ico-right1 right-posi"></i></span></div>
					<input id="img_input" class="fr compile-pic" type="file" accept="image/*" hidden="true" onchange="imagePreview(this)">
				</div>
			</section>
			<div class="compile-news">
				基本信息
			</div>
			<section v-if="hasbaseinfo" class="compile-moudle bg-fff overflow-h pd-10">
				<p class="overflow-h">姓名：<span>{{vm.name}}</span>
					<a href="jianlibaseinfo.html" class="fr"><span class="bianji">编辑</span></a>
				</p>
				<p>性别：<span>{{vm.sex}}</span></p>
				<p>工作年限：<span>{{vm.exprience}}</span></p>
				<p>年龄：<span>{{vm.age}}</span></p>
				<p>所在城市：<span>{{vm.city}}</span></p>
				<p>联系电话：<span>{{vm.phone}}</span></p>
				<p>电子邮箱：<span>{{vm.email}}</span></p>
				<p>自我评价：<span class="self-appra fr">{{vm.evaluation}}</span></p>
			</section>
			<p v-else class="zbxx">
				<a href="jianlibaseinfo.html">编辑基本信息</a>
			</p>
			<div class="compile-news">
				工作经历
			</div>
			<div v-if="hasworkinfo" id="gzjl" v-for="item in workDic">

				<section class="compile-moudle bg-fff pd-10 ">
					<p class="overflow-h moudle-head">
						<span class="fl">{{item.startdate}} 至 {{item.enddate}}</span>
						<a :href="'gongzuojl.html?id='+item.id" class="fr"><span class="bianji">编辑</span></a>
						<a @click="deleteWork(item.id)" class="fr"><span class="fr shanchu">删除</span></a>
					</p>
					<p class="status"><span class="gongsi-name">{{item.companyname}}/</span>{{item.gangwei}}</p>
					<p class="">{{item.brief}}</p>
				</section>
			</div>
			<p class="zbxx">
				<!--<a id="add_gzjl">+工作经历</a>-->
				<a href="gongzuojl.html">+工作经历</a>

			</p>
			<div class="compile-news">
				教育经历
			</div>
			<div v-for="item in jiaoyuDic">
				<section class="compile-moudle bg-fff pd-10">
					<p class="overflow-h moudle-head"><span class="fl">{{item.graduationyear}}毕业</span>
						<a :href="'jiaoyujl.html?id='+item.id" class="fr">
							<span class="fr bianji">编辑</span>
						</a>
						<a class="fr" @click="deleteEdu(item.id)">
							<span class="fr shanchu">删除</span>
						</a>
					</p>
					<p class="status">
						<span>{{item.schoolname}}</span>
					</p>
					<p class="">
						<span>{{item.xueli}}·</span>
						<span>{{item.major}}</span>
					</p>
				</section>
			</div>
			<p class="zbxx">
				<a href="jiaoyujl.html">+教育经历</a>
			</p>
			<div class="compile-news">
				期望工作
			</div>
			<section v-if="hasexpectinfo" class="compile-moudle bg-fff pd-10">
				<p class="overflow-h moudle-head"><span class="fl">{{vm.trueGangwei}}</span>
					<a href="qiwanggz.html" class="fr"><span class="bianji">编辑</span></a>
				</p>
				<p class="status">{{vm.gongzuofangshi}}/{{vm.targetcity}}/{{vm.targetxinzi}}</p>
				<p>目前状态：<span>{{vm.onduty}}/</span><span>{{vm.jointime}}</span></p>
			</section>
			<p v-else class="zbxx">
				<a href="qiwanggz.html">编辑期望工作</a>
			</p>

			<div class="compile-news">
				隐私设置
			</div>
			<section class="compile-moudle bg-fff pd-10 overflow-h border-b">
				<div class="overflow-h"><span class="fl full-name">显示姓名全称</span>
					<div class="on-off fr">
						<input type="checkbox" v-model="showfullname" class="m-switch" onchange="update(this,1)">
					</div>
				</div>
			</section>
			<section class="compile-moudle bg-fff pd-10 overflow-h border-b">
				<div class="overflow-h"><span class="fl full-name">显示公司全称</span>
					<div class="on-off fr">
						<input v-model="showcompanyname" type="checkbox" class="m-switch" onchange="update(this,2)">
					</div>
				</div>
			</section>
			<div class="bt-h"></div>
			<section class="footer-bootom bg-fff">
				<ul class="overflow-h">
					<li class="fl border-r">
						<span class="show" v-if="showqiuzhi">
						<i class="ico-zhanshi2"></i>
						<span class="give-quxiao">展示求职</span>
						</span>
						<span class="show" v-else>
						<i class="ico-zhanshi1"></i>
						<span class="give-quxiao">取消展示</span>
						</span>
					</li>
					<li class="fl">
						<span class="yulan" @click="preview()">
							<i class="ico-yulan"></i>简历预览
						</span>
					</li>
				</ul>
			</section>
		</div>

	</body>

	<script type="text/javascript">
		var jobWanId;
		var publishId;
		var hasbaseinfo;
		var preview;
		post('/webQz/QiuzhiById', {
			"userId": localStorage.userId,
		}, function(data) {
			console.log(data);
			if(data.result.publishId) {
				this.jobWanId = data.result.jobWanId;
				this.publishId = data.result.publishId;
				previewStatus();
			}
			if(data.result.touxiang) {
				$('#avatar').attr('src', ip + data.result.touxiang);
			}
			if(data.result.name) {
				vm.hasbaseinfo = true;
				vm.name = data.result.name;
				vm.sex = data.result.sex;
				vm.exprience = data.result.exprience;
				vm.age = data.result.age;
				vm.city = data.result.city;
				vm.phone = data.result.phone;
				vm.email = data.result.email;
				vm.evaluation = data.result.evaluation;
			} else {
				vm.hasbaseinfo = false;
			}
			if(data.result.gangwei) {
				vm.hasexpectinfo = true;
				vm.trueGangwei = data.result.gangwei;
				vm.gongzuofangshi = data.result.operationMode;
				vm.targetcity = data.result.targetprovince;
				vm.targetxinzi = data.result.targetSalary;
				if(data.result.ondutyId == 1) {
					vm.onduty = "在职";
				} else {
					vm.onduty = "离职";
				}
				vm.jointime = data.result.jointime;
			} else {
				vm.hasexpectinfo = false;
			}
			if(data.result.status == 0) {
				vm.showqiuzhi = true;
			} else {
				vm.showqiuzhi = false;
			}
			if(data.result.showfullname == 1) {
				vm.showfullname = true;
			} else {
				vm.showfullname = false;
			}
			if(data.result.showcompanyname == 1) {
				vm.showcompanyname = true;
			} else {
				vm.showcompanyname = false;
			}
			var workDic = JSON.parse(data.result.experience);
			for(var i = 0; i < workDic.length; i++) {
				var obj = workDic[i];
				obj.id = i;
			}
			var jiaoyuDic = JSON.parse(data.result.education);
			for(var i = 0; i < jiaoyuDic.length; i++) {
				var obj = jiaoyuDic[i];
				obj.id = i;
				switch(obj.xueli) {
					case '2':
						obj.xueli = "初中";
						break;
					case '3':
						obj.xueli = "高中";
						break;
					case '4':
						obj.xueli = "大专";
						break;
					case '5':
						obj.xueli = "本科";
						break;
					case '6':
						obj.xueli = "研究生";
						break;
					case '7':
						obj.xueli = "博士";
						break;
					default:
						break;
				}
			}
			vm.workDic = workDic;
			vm.jiaoyuDic = jiaoyuDic;
			this.exprience = data.result.exprience;
		})

		function previewStatus() {
			$.ajax({
				type: "post",
				url: ip + "/webQz/getResumeIsPerfect",
				async: true,
				traditional: true,
				data: {
					"publishId": this.publishId
				},
				success: function(data) {
					console.log(data);
					vm.$dialog.loading.close();
					if(data.result_code != 1) {
						new Vue().$dialog.alert({
							mes: data.reason
						});
						return;
					} else {
						if(data.reason == 'accept') {
							preview = 1;
						} else {
							preview = 0;
						}
					}
				},
				error: function() {
					vm.$dialog.loading.close();
					vm.$dialog.alert({
						mes: '服务器连接失败!'
					});
				}
			});
		}
		var vm = new Vue({
			el: '#app',
			data: {
				hasbaseinfo: false,
				hasworkinfo: true,
				haseduinfo: false,
				hasexpectinfo: false,
				showqiuzhi: false,
				showfullname: false,
				showcompanyname: false,
				name: "",
				sex: "",
				exprience: "",
				age: "",
				city: "",
				phone: "",
				email: "",
				evaluation: "",
				workDic: [],
				jiaoyuDic: [],
				trueGangwei: '',
				gongzuofangshi: '',
				targetcity: '',
				targetxinzi: '',
				onduty: '',
				jointime: ''
			},
			methods: {
				preview() {
					if(preview == 1) {
						window.location.href = "../../home/qiuzhi/qiuzhidetail.html?id=" + publishId;
					} else {
						vm.$dialog.toast({
							mes: "信息填写完整才可预览和被企业查看!",
							icon: 'error',
							timeout: 1500,
						});
					}
				}
			},
		})
		$(function() {
			$('.show').click(function() {
				if(preview > 0) {
					var sildOff;
					if(vm.showqiuzhi) {
						sildOff = 1;
						vm.showqiuzhi = false;
					} else {
						sildOff = 0;
						vm.showqiuzhi = true;
					}
					//					sildOff = sildOff == 1 ? 0 : 1;
					post('/webQz/showExhibitionJob', {
						"showStatus": sildOff,
						"publishId": publishId
					}, function(data) {
						if(data.result_code == '1') {
							alert("操作成功!");
						} else {
							alert("操作失败，请重试！");
						}
					})
					if(sildOff != 1) {
						$(this).children('i').removeClass('ico-zhanshi1').addClass('ico-zhanshi2');
						$('.give-quxiao').css('color', '#ec9d1d');
						$('.give-quxiao').html('展示求职');
					} else {
						$(this).children('i').removeClass('ico-zhanshi2').addClass('ico-zhanshi1');
						$('.give-quxiao').css('color', '#717171');
						$('.give-quxiao').html('取消展示');
					}
				} else {
					vm.$dialog.toast({
						mes: "信息填写完整才可展示求职!",
						icon: 'error',
						timeout: 1500,
					});
				}
			})
		});

		function chooseImage() {
			$('#img_input').click();
		}

		function imagePreview(input) {
			var files = input.files;
			var file = files[0];
			var imageType = /^image\//;
			if(!imageType.test(file.type)) {
				alert("请选择图片类型上传");
				return;
			}
			var reader = new FileReader();
			reader.readAsDataURL(file);
			reader.onload = function(e) {
				$('#avatar').attr('src', e.target.result);
				post('/webQz/editPersonalBasicInfo', {
					"userId": localStorage.userId,
					"id": this.jobWanId,
					"publishId": this.publishId,
					"lifePhotoImg": e.target.result,
				}, function(data) {
					if(data.result_code == '1') {
						alert("更新成功!");
					} else {
						alert("更新失败，请重试！");
					}
				})
			};
		}

		function deleteWork(id) {
			var mymessage = confirm("确认删除？");
			if(mymessage == false) {
				return;
			}
			post('/webQz/editPersonalBasicInfo', {
				"userId": localStorage.userId,
				"id": this.jobWanId,
				"publishId": this.publishId,
				"operationType": 0,
				"experienceIndex": id
			}, function(data) {
				if(data.result_code == '1') {
					alert("删除成功!");
					document.location.reload();
				} else {
					alert("发布失败，请重试！");
				}
			})
		}

		function deleteEdu(id) {
			var mymessage = confirm("确认删除？");
			if(mymessage == false) {
				return;
			}
			post('/webQz/editPersonalBasicInfo', {
				"userId": localStorage.userId,
				"id": this.jobWanId,
				"publishId": this.publishId,
				"operationType": 0,
				"educationIndex": id
			}, function(data) {
				if(data.result_code == '1') {
					alert("删除成功!");
					document.location.reload();
				} else {
					alert("发布失败，请重试！");
				}
			})
		}

		function update(e, type) {
			var showfullname, showcompanyname, dataa;
			if(type == 1) {
				if(e.checked) {
					showfullname = 1;
					vm.showfullname = true;
				} else {
					showfullname = 0;
					vm.showfullname = false;
				}
				dataa = {
					"userId": localStorage.userId,
					"id": this.jobWanId,
					"publishId": this.publishId,
					"showfullname": showfullname
				};
			} else {
				if(e.checked) {
					showcompanyname = 1;
					vm.showcompanyname = true;
				} else {
					showcompanyname = 0;
					vm.showcompanyname = false;
				}
				dataa = {
					"userId": localStorage.userId,
					"id": this.jobWanId,
					"publishId": this.publishId,
					"showcompanyname": showcompanyname
				};
			}
			post('/webQz/editPersonalBasicInfo', dataa,
				function(data) {
					if(data.result_code == '1') {
						alert("操作成功!");
					} else {
						alert("发布失败，请重试！");
					}
				})
		}
	</script>

</html>