<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>编辑简历</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="no">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="renderer" content="webkit">
		<meta name="screen-orientation" content="portrait">
		<meta name="full-screen" content="yes">
		<meta name="x5-orientation" content="portrait">
		<meta name="x5-fullscreen" content="true">
		<meta name="format-detection" content="telephone=no, email=no">
		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
		<script type="text/javascript" src="../../static/lib/js/vue.min.js"></script>
		<script type="text/javascript" src="../../static/lib/js/ydui.js"></script>
		<script type="text/javascript" src="../../js/config.js"></script>


		<link rel="stylesheet" href="../../css/mkui.css" />
		<link rel="stylesheet" href="../../static/lib/css/ydui.rem.css" />
		<link rel="stylesheet" href="../../static/css/common.css" />
		<link rel="stylesheet" href="../../static/css/add-jianli.css" />
	</head>

	<body>
		<script type="text/javascript" charset="utf-8">
			post('/webQz/QiuzhiById', {
                        "userId":localStorage.userId,
                    }, function(data) {
                        console.log(data);
                    })
		</script>

		<div id="app">
			<section class="compile-head  bg-fff">
				<div class="overflow-h"><span class="fl ">近期证件照</span>
					<div class="fr compile-pic"><img style="border-radius: 50%;" id="avatar" src="../../static/img/touxiang.png" alt="" onclick="chooseImage()"><span class="fr g-right"><i class="ico ico-right1 right-posi"></i></span></div>
					<input id="img_input" class="fr compile-pic" type="file" accept="image/*" hidden="true" onchange="imagePreview(this)">
				</div>
			</section>
			<div class="compile-news">
				基本信息
			</div>
			<section v-if="hasbaseinfo" class="compile-moudle bg-fff overflow-h pd-10">
				<p class="overflow-h">姓名：<span>李有鬼</span>
					<a href="jianlibaseinfo.html" class="fr"><span class="bianji">编辑</span></a>
				</p>
				<p>性别：<span>男</span></p>
				<p>工作年限：<span>10年以上</span></p>
				<p>年龄：<span>0</span></p>
				<p>所在城市：<span>北京市</span></p>
				<p>联系电话：<span>18516965274</span></p>
				<p>电子邮箱：<span>158174692@qq.com</span></p>
				<p>自我评价：<span class="self-appra fr">天上人间</span></p>
			</section>
			<p v-else class="zbxx">
				<a href="jianlibaseinfo.html">编辑基本信息</a>
			</p>
			<div class="compile-news">
				工作经历
			</div>
			<div v-if="hasworkinfo" id="gzjl">
				<section class="compile-moudle bg-fff pd-10 ">
					<p class="overflow-h moudle-head"><span class="fl">2017-09-28 至 2017-09-28</span>
						<a href="gongzuojl.html" class="fr"><span class=" bianji">编辑</span></a>
						<a href="/member/removegongzuo?id=0" class="fr"><span class="fr shanchu">删除</span></a>
					</p>
					<p class="status"><span class="gongsi-name">阿里巴巴</span>/LOL</p>
					<p>峡谷之巅</p>
				</section>
			</div>
			<p class="zbxx">
				<!--<a id="add_gzjl">+工作经历</a>-->
				<a href="gongzuojl.html">+工作经历</a>

			</p>
			<div class="compile-news">
				教育经历
			</div>
			<section v-if="haseduinfo" id="jy1" class="compile-moudle bg-fff pd-10">
				<p class="overflow-h moudle-head"><span class="fl">2017-09毕业</span>
					<a href="jiaoyujl.html" class="fr"><span class="fr bianji">编辑</span></a>
					<a class="fr"><span class="fr shanchu" onclick="deletejiaoyu('jy1')">删除</span></a>
				</p>
				<p class="status"><span>OPPO</span></p>
				<p><span>博士生·</span><span>飙车</span></p>
			</section>
			<p class="zbxx">
				<a href="jiaoyujl.html">+教育经历</a>
			</p>
			<div class="compile-news">
				期望工作
			</div>
			<section v-if="hasexpectinfo" class="compile-moudle bg-fff pd-10">
				<p class="overflow-h moudle-head"><span class="fl">司机</span>
					<a href="qiwanggz.html" class="fr"><span class="bianji">编辑</span></a>
				</p>
				<p class="status">全职/北京市/50000元以上</p>
				<p>目前状态：<span>/</span><span>随时到岗</span></p>
			</section>
			<p v-else class="zbxx">
				<a href="qiwanggz.html">编辑期望工作</a>
			</p>

			<div class="compile-news">
				隐私设置
			</div>
			<section class="compile-moudle bg-fff pd-10 overflow-h border-b">
				<div class="overflow-h"><span class="fl full-name">显示姓名全称</span>
					<div class="on-off fr"><input type="checkbox" class="m-switch" onchange="update(this,1)"></div>
				</div>
			</section>
			<section class="compile-moudle bg-fff pd-10 overflow-h border-b">
			<div class="overflow-h"><span class="fl full-name">显示公司全称</span>
			<div class="on-off fr"><input type="checkbox" class="m-switch" onchange="update(this,2)"></div>
			</div>
			</section>
			<div class="bt-h"></div>
			<section class="footer-bootom bg-fff">
				<ul class="overflow-h">
					<li class="fl border-r"><span class="show"><i class="ico-zhanshi2"></i><span class="give-quxiao">展示求职</span></span>
					</li>
					<li class="fl">
						<span class="yulan" @click="preview()">
							<i class="ico-yulan"></i>简历预览
						</span>
					</li>
				</ul>
			</section>
		</div>

	</body>

	<script type="text/javascript">
		var vm = new Vue({
			el: '#app',
			data: {
                hasbaseinfo: false,
                hasworkinfo: true,
                haseduinfo: false,
                hasexpectinfo: false,
                showfullname: "",
				showcompanyname:"",
			},
            methods: {
                preview(){
                    if(true){
                        window.location.href="jianliyulan.html";
                    }else{
                        vm.$dialog.toast({
                            mes: "信息填写完整才可预览和被企业查看!",
                            icon: 'error',
                            timeout: 1500,
                        });
                    }
                }
            },
		})


        function update(){

            alert("saddsd");
//            axios.post('/member/jianli', {
//                showfullname:vm.showfullname,
//                showcompanyname:vm.showcompanyname,
//            })
//                .then(function (response) {
//                    vm.$dialog.toast({
//                        mes: "修改成功!",
//                        icon: 'success',
//                        timeout: 1500,
//                    });
//                })
        }

        var sildOff = '<?=$status;?>';
        var preview='<?=$preview?>';
        $(function(){
            $('.show').click(function(){
                if(preview>0){
                    sildOff=sildOff==1?0:1;
                    axios.post('/member/jianli', {
                        status:sildOff,
                    })
                        .then(function (response) {
                            vm.$dialog.toast({
                                mes: "修改成功!",
                                icon: 'success',
                                timeout: 1500,
                            });
                        });

                    if (sildOff!=1) {
                        $(this).children('i').removeClass('ico-zhanshi1').addClass('ico-zhanshi2');
                        $('.give-quxiao').css('color','#ec9d1d');
                        $('.give-quxiao').html('展示求职');
                    } else{
                        $(this).children('i').removeClass('ico-zhanshi2').addClass('ico-zhanshi1');
                        $('.give-quxiao').css('color','#717171');
                        $('.give-quxiao').html('取消展示');
                    }
                }else{
                    vm.$dialog.toast({
                        mes: "信息填写完整才可展示求职!",
                        icon: 'error',
                        timeout: 1500,
                    });
                }
            })
        });




		function chooseImage() {
			$('#img_input').click();
		}

		function imagePreview(input) {
			var files = input.files;

			var file = files[0];
			var imageType = /^image\//;
			if(!imageType.test(file.type)) {
				alert("请选择图片类型上传");
				return;
			}
			var reader = new FileReader();
			reader.readAsDataURL(file);
			reader.onload = function(e) {
				$('#avatar').attr('src', e.target.result);
			};
		}

		function deletejiaoyu(id) {
			console.log(id)
			$('#' + id).remove();
		}

		var i = 1;

		$('#add_gzjl').click(function() {
			$('#gzjl').append('<section id="' + i + '" class="compile-moudle bg-fff pd-10 "><p class="overflow-h moudle-head"><span class="fl">2017-09-28 至 2017-09-28</span><a href="/member/gongzuo?id=0" class="fr"><span class=" bianji">编辑</span></a><a  class="fr"><span class="fr shanchu" onclick="deletejiaoyu(' + i + ')">删除</span></a></p><p class="status"><span class="gongsi-name">阿里巴巴</span>/LOL</p><p>' + i + '</p></section>');
			i++;
		})

		function update(e,type) {
		    if (type == 1){
                vm.showfullname = e.checked;
			}else {
                vm.showcompanyname = e.checked;
			}
            console.log(type);
            console.log(e.checked)
            //            axios.post('/member/jianli', {
//                showfullname:vm.showfullname,
//                showcompanyname:vm.showcompanyname,
//            })
//                .then(function (response) {
//                    vm.$dialog.toast({
//                        mes: "修改成功!",
//                        icon: 'success',
//                        timeout: 1500,
//                    });
//                })

		}
	</script>

</html>