<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>教育经历</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="no">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="renderer" content="webkit">
		<meta name="screen-orientation" content="portrait">
		<meta name="full-screen" content="yes">
		<meta name="x5-orientation" content="portrait">
		<meta name="x5-fullscreen" content="true">
		<meta name="format-detection" content="telephone=no, email=no">
		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
		<script type="text/javascript" src="../../static/lib/js/vue.min.js"></script>
		<script type="text/javascript" src="../../static/lib/js/ydui.js"></script>

		<link rel="stylesheet" href="../../css/mkui.css" />
		<link rel="stylesheet" href="../../static/lib/css/ydui.rem.css" />
		<link rel="stylesheet" href="../../static/css/common.css" />
		<script type="text/javascript" src="../../js/config.js"></script>

	</head>

	<body>
		<script type="text/javascript" charset="utf-8">
			var Request = new QueryString();
			var itemid = Request["id"];
			var schoolname,major,graduationyear,xueli;
			if (itemid) {
				post1('/webQz/QiuzhiById',false, {
					"userId": localStorage.userId,
				}, function(data) {
					var workDic = JSON.parse(data.result.education);
					console.log(workDic);
					var obj = workDic[itemid];
					this.schoolname = obj.schoolname;
					this.major = obj.major;
					this.graduationyear = obj.graduationyear;
					this.xueli = obj.xueli;
				})
			}
		</script>
		<div id="app">
			<section class="zp-body">
				<div class="zp-list overflow-h">
					<span class="fl">学校名称</span>
					<span class="fr zp-next">
						<input type="text" placeholder="请填写学校名称" v-model="schoolname" />
					</span>
				</div>
				<div class="zp-list overflow-h">
					<span class="fl">所学专业</span>
					<span class="fr zp-next">
						<input type="text" placeholder="请填写你的专业" v-model="major" />
					</span>
				</div>
				<div class="zp-list overflow-h">
					<span class="fl">毕业时间</span>
					<span class="fr no-flex select-btn">
						<input v-model="graduationyear" type="month" class="kbtn" placeholder="请选择"/>
						<i class="ico ico-right6"></i>
					</span>
				</div>
				<div class="zp-list overflow-h">
					<span class="fl">学历</span>
					<span class="fr zp-next select-btn">
					<select v-model="xueli" class="select-xueli">
		                <option value="">请选择</option>
		                <option v-for="item in xuelis" :value='item.itemCode'>{{item.itemName}}</option>
		            </select></span>
				</div>
			</section>
			<div class="h-20"></div>
			<div class="sure-btn" @click="update()">保存</div>
			<div class="h-20"></div>
		</div>
	</body>

	<script type="text/javascript">
		var Request = new QueryString();
		var itemid = Request["id"];
		 //学历要求
		var xuelidic;
		getDicTable(false, "003", function(data) {
			this.xuelidic = data.result;
		})
		var vm = new Vue({
			el: '#app',
			data: {
				schoolname: this.schoolname,
				major: this.major,
				graduationyear: this.graduationyear,
				xueli: this.xueli,
				xuelis: xuelidic
			},
			methods: {
				update() {
					if (vm.schoolname == "") {
						alert('请填写学校名称')
						return
					}
					if (vm.major == "") {
						alert('请填写专业')
						return
					}
					if ($('.kbtn').val() == "") {
						alert('请选择毕业时间')
						return
					}
					if ($('.select-xueli').val() == '') {
						alert('请选择学历')
						return
					}
					var id = "";
					var publishId = "";
					if (localStorage.jobWanId) {
						id = localStorage.jobWanId;
					}
					if (localStorage.publishId) {
						publishId = localStorage.publishId;
					}
					var dataa;
					if(itemid){
						dataa = {
						"userId": localStorage.userId,
						"id": id,
						"publishId": publishId,
						"schoolname": vm.schoolname,
						"major": vm.major,
						"graduationyear": vm.graduationyear,
						"xueli": vm.xueli,
						"operationType":1,
						"educationIndex":itemid
						}
					}else{
						dataa = {
						"userId": localStorage.userId,
						"id": id,
						"publishId": publishId,
						"schoolname": vm.schoolname,
						"major": vm.major,
						"graduationyear": vm.graduationyear,
						"xueli": vm.xueli,
						}
					}
					post('/webQz/editPersonalBasicInfo', dataa, 
					function(data) {
						console.log(data);
						if (data.result_code == '1') {
							alert("保存成功!");
							window.history.back();
						} else {
							alert("发布失败，请重试！");
						}
					})
				}
			}
		})
	</script>

</html>