<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>期望工作</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="no">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="renderer" content="webkit">
		<meta name="screen-orientation" content="portrait">
		<meta name="full-screen" content="yes">
		<meta name="x5-orientation" content="portrait">
		<meta name="x5-fullscreen" content="true">
		<meta name="format-detection" content="telephone=no, email=no">
		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
		<script type="text/javascript" src="../../static/lib/js/vue.min.js"></script>
		<script type="text/javascript" src="../../static/lib/js/ydui.js"></script>
		<link rel="stylesheet" href="../../css/mkui.css" />
		<link rel="stylesheet" href="../../static/lib/css/ydui.rem.css" />
		<link rel="stylesheet" href="../../static/css/common.css" />
		<script src="../../js/config.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" href="../../static/css/zhaopin-index.css">
	</head>

	<body>
		<script type="text/javascript" charset="utf-8">
			var bigdata,jobWanId, publishId;
			post1('/webQz/QiuzhiById', false, {
				"userId": localStorage.userId,
			}, function(data) {
				this.bigdata = data.result;
				if (data.result.jobWanId) {
					this.jobWanId = data.result.jobWanId;
					this.publishId = data.result.publishId;
				}
				console.log(data);
			})
		</script>
		<div id="app">
			<section class="zp-body">
				<div class="zp-list overflow-h">
					<span class="fl">期望职位</span>
					<span class="fr zp-next select-btn gangwei" @click="choosegangwei()"><span id="gangwei">请选择</span>
					<i class="ico ico-right1"></i></span>
				</div>
				<input type="hidden" id="choosedgangwei" />
				<div class="tab-panl none" id="gangweilist">
					<div class=" overflow-h">
						<ul class=" fl job">
							<li v-for="item in job">{{item.itemName}}</li>
						</ul>
						<div class="job-list fl none" v-for="item in joblist">
							<ul>
								<li v-for="j in item" @click="selectgangwei(j.itemCode,j.itemName)">{{j.itemName}}</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="zp-list overflow-h">
					<span class="fl">工作方式</span>
					<span class="fr zp-next select-btn">
					<select   v-model="gongzuofangshi"  class="select1">
		                <option value="">请选择</option>
		                <option v-for="item in gongzuofangshis" :value='item.itemCode'>{{item.itemName}}</option>
		            </select></span>
				</div>
				<div class="zp-list overflow-h">
					<span class="fl">期望城市</span>
					<span class="fr zp-next select-btn" @click="chooseaddress()">
						<span id="city">请选择</span><i class="ico ico-right1"></i>
					</span>
				</div>
				<input type="hidden" id="choosedprovince" />
				<input type="hidden" id="choosedprovincename" />
				<input type="hidden" id="choosedcity" />
				<div class="tab-panl none" id="sl-dizhi">
					<div class=" overflow-h">
						<ul class=" province fl">
							<li v-for="item in province" @click="selectprovince(item.id,item.name)">{{item.name}}</li>
						</ul>
						<div class="city fl none" v-for="item in city">
							<ul>
								<li v-for="c in item" @click="selectcity(c.id,c.name)">{{c.name}}</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="zp-list overflow-h">
					<p class="overflow-h">
						<span class="fl">期望月薪</span>
						<span class="fr zp-next select-btn">
						<select   v-model="targetxinzi" class="select2">
			                <option value="">请选择</option>
			                <option v-for="item in targetxinzis" :value='item.itemCode'>{{item.itemName}}</option>
			            </select></span>
					</p>

				</div>
				<div class="zp-list overflow-h">
					<span class="fl">是否在职</span>
					<span class="fr zp-next select-btn gangwei">
					<select   v-model="onduty" class="select3">
		                <option value="">请选择</option>
		                <option v-for="item in ondutys" :value='item.itemCode'>{{item.itemName}}</option>
		            </select></span>
				</div>
				<div class="zp-list overflow-h">
					<span class="fl">可入职时间</span>
					<span class="fr select-btn gangwei">
					<select   v-model="jointime" class="select4">
		                <option value="">请选择</option>
		                <option v-for="item in jointimes" :value='item.itemCode'>{{item.itemName}}</option>
		            </select></span>
				</div>
			</section>
			<div class="h-20"></div>
			<div class="sure-btn" @click="update()">保存</div>
			<div class="h-20"></div>
		</div>
	</body>

	<script type="text/javascript">
		 //岗位类别
		var job;
		var jobList;
		getDicTable(false, "006", function(data) {
				var list = data.result;
				var job = [];
				var jobList = [];
				var jobM = {};
				for (var i = 0; i < list.length; i++) {
					var obj = list[i];
					if (!obj.pid) {
						job.push(obj);
					} else {
						jobList.push(obj);
					}
				}
				for (var i = 0; i < job.length; i++) {
					var array = [];
					for (var j = 0; j < jobList.length; j++) {
						if (job[i].id == jobList[j].pid) {
							array.push(jobList[j]);
							jobM['' + job[i].id] = array;
						}
					}
				}
				this.job = job;
				this.jobList = jobM;
				if (this.bigdata.gangweiId) {
					selectGangweiA();
				}
			})
			//工作方式
		 getDicTable(true, "007", function(data) {
			vm.gongzuofangshis = data.result;
			if (this.bigdata.operationMode) {
				for (var i = 0; i < vm.gongzuofangshis.length; i++) {
					var obj = vm.gongzuofangshis[i];
					if (obj.itemName == this.bigdata.operationMode) {
						vm.gongzuofangshi = obj.itemCode;
					}
				}
			}
		})
		var province;
		var city;
		getCity(function(p, c) {
			province = p;
			city = c;
			if (this.bigdata.cityId) {
				selectProvinceAndCity();
			}
		});
		 //期望月薪
		getDicTable(true, "001", function(data) {
				vm.targetxinzis = data.result;
				if (this.bigdata.targetSalary) {
					for (var i = 0; i < vm.targetxinzis.length; i++) {
						var obj = vm.targetxinzis[i];
						if (obj.itemName == this.bigdata.targetSalary) {
							vm.targetxinzi = obj.itemCode;
						}
					}
				}
			})
			//入职时间
		 getDicTable(true, "011", function(data) {
			vm.jointimes = data.result;
			if (this.bigdata.jointime) {
				for (var i = 0; i < vm.jointimes.length; i++) {
					var obj = vm.jointimes[i];
					if (obj.itemName == this.bigdata.jointime) {
						vm.jointime = obj.itemCode;
					}
				}
				vm.onduty = this.bigdata.onduty;
			}
		})
		 
		 var id = "";
		var publishId1 = "";
		if (this.jobWanId) {
			id = this.jobWanId;
		}
		if (this.publishId) {
			publishId1 = this.publishId;
		}
		var vm = new Vue({
			el: '#app',
			data: {
				gongzuofangshi: '',
				gongzuofangshis: [],
				targetxinzi: '',
				targetxinzis: [],
				onduty: '',
				ondutys: [{
					"itemCode": 0,
					"itemName": "离职"
				}, {
					"itemCode": 1,
					"itemName": "在职"
				}],
				jointime: '',
				jointimes: [],
				province: province,
				city: city,
				job: this.job,
				joblist: this.jobList,
			},
			methods: {
				selectgangwei: function(id, name) {
					$("#choosedgangwei").val(id);
					$("#gangwei").text(name);
					$("#gangweilist").addClass('none');
				},
				choosegangwei: function() {
					$("#gangweilist").removeClass('none');
				},
				chooseaddress: function() {
					$("#sl-dizhi").show();
				},
				selectcity: function(id, name) {
					$("#city").html($("#choosedprovincename").val() + ' ' + name);
					$("#choosedcity").val(id);
					$("#sl-dizhi").hide();
				},
				selectprovince: function(id, name) {
					$("#choosedprovincename").val(name);
					$("#choosedprovince").val(id);
					$("#choosedcity").val('');
				},
				update() {
					if ($('#gangwei').text() == '请选择') {
						alert('请选择期望职位')
						return
					}
					if ($('.select1').val() == "") {
						alert('请选择工作方式')
						return
					}
					if ($('#city').text() == '请选择') {
						alert('请选择期望城市')
						return
					}
					if ($('.select2').val() == "") {
						alert('请选择期望月薪')
						return
					}
					if ($('.select3').val() == "") {
						alert('请选择是否在职')
						return
					}
					if ($('.select4').val() == "") {
						alert('请选择入职时间')
						return
					}
					
					post('/webQz/editPersonalBasicInfo', {
						"userId": localStorage.userId,
						"id": id,
						"publishId": publishId1,
						"targetPost": $("#choosedgangwei").val(),
						"operationMode": vm.gongzuofangshi,
						"targetprovince": $("#choosedprovince").val(),
						"targetSalary": vm.targetxinzi,
						"onduty": vm.onduty,
						"jointime": vm.jointime,
						"targetcity": vm.targetcity
					}, function(data) {
						console.log(data);
						if (data.result_code == '1') {
							alert("保存成功!");
							window.history.go(-1);
						} else {
							alert("发布失败，请重试！");
						}
					})
				}
			}
		})
		 $(function() {
			$('.province li').click(function() {
				$('.city').eq($(this).index()).removeClass('none').siblings('.city').addClass('none');
				$(this).css('background', '#FFFFFF').siblings('.province li').css('background', '#ededed');
			});
			$('.city li').click(function() {
					$('.address span').text($(this).text())
					$('.zhiwei').text($(this).text())
						//					$(this).addClass('on-blue').siblings('.job-list li').removeClass('on-blue');
					$('.city li ').removeClass('on-blue');
					$(this).addClass('on-blue');
					$('.tab-panl').addClass('none')
				})
				/*职位*/
			$('.job li').click(function() {
				$('.job-list').eq($(this).index()).removeClass('none').siblings('.job-list').addClass('none');
				$(this).css('background', '#FFFFFF').siblings('.job li').css('background', '#ededed');
			});
		})

		function selectProvinceAndCity() {
			$("#choosedprovincename").val(this.bigdata.targetprovince);
			$("#choosedprovince").val(this.bigdata.targetprovinceId);
			$("#city").html($("#choosedprovincename").val() + ' ' + this.bigdata.targetcity);
			$("#choosedcity").val(this.bigdata.targetcityId);
		}

		function selectGangweiA() {
			$("#choosedgangwei").val(this.bigdata.gangweiId);
			$("#gangwei").text(this.bigdata.gangwei);
		}
	</script>

</html>