<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>消息</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="no">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="renderer" content="webkit">
		<meta name="screen-orientation" content="portrait">
		<meta name="full-screen" content="yes">
		<meta name="x5-orientation" content="portrait">
		<meta name="x5-fullscreen" content="true">
		<meta name="format-detection" content="telephone=no, email=no">

		<script src="../static/lib/js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="../static/lib/js/vue.min.js"></script>
		<script type="text/javascript" src="../static/lib/js/ydui.js"></script>
		<link rel="stylesheet" href="../css/mkui.css" />
		<link rel="stylesheet" href="../static/lib/css/ydui.rem.css" />

		<link rel="stylesheet" href="../css/aui.css" />

		<style type="text/css">
			.chat_footer {
				width: 100%;
				position: fixed;
				background: #FCFCFC;
				bottom: 0;
				border-top: 1px solid #e1e3e5;
				left: 0;
			}
			
			.chat_ {
				display: block;
				height: 38px;
				margin: 6px;
			}
			
			.chat_ .chat_input {
				width: 78%;
				height: 100%;
				border: 1px solid #eee;
				background: #F5F5F5;
				border-radius: 4px;
				float: left;
				padding: 0 5px;
			}
			
			.m-toast p {
				color: #FFFFFF;
			}
		</style>
	</head>

	<body>
		<div id="app">
			<section>
				<ul id="chat">
					<li v-for="item in chatlist" class="aui-chat">
						<div class="aui-chat-header">{{item.strCreatedAt}}</div>
						<div v-if="item.fromUid!=85" class="aui-chat-item aui-chat-left">
							<div class="aui-chat-media" style="height: 2rem;">
								<img style="height: 100%;" :src="item.toTouxiang?ip+item.toTouxiang:'../static/img/avatar_96x96.png'" />
							</div>
							<div class="aui-chat-inner">
								<div class="aui-chat-content">
									<div class="aui-chat-arrow"></div>
									{{item.messageContent}}
								</div>
							</div>
						</div>
						<div v-else class="aui-chat-item aui-chat-right">
							<div class="aui-chat-media" style="height: 2rem;">
								<img style="height: 100%;" :src="item.fromTouxiang?ip+item.fromTouxiang:'../static/img/avatar_96x96.png'" />
							</div>
							<div class="aui-chat-inner">
								<div class="aui-chat-content">
									<div class="aui-chat-arrow"></div>
									{{item.messageContent}}
								</div>
								<div class="aui-chat-status"></div>
							</div>
						</div>
					</li>
				</ul>
			</section>
			<div class="clearfix" style="height:50px;"></div>
			<footer class="chat_footer">
				<div class="chat_">
					<input id="in" type="text" name="content" placeholder="说点什么吧" class="chat_input">
					<div style="height: 100%; width: 22%; float: right; display: flex;">
						<div id="send" class="aui-btn aui-btn-info" style="align-self: center; margin: auto; font-weight: bold;">发送</div>
					</div>
				</div>
			</footer>
		</div>
	</body>

	<script type="text/javascript" src="../js/config.js"></script>
	<script type="text/javascript">
		var qs = new QueryString();
		var toId = parseInt(qs['id']);
		toId = 1;

		post('/webUser/myAllMessage', {
			userId: 85,
			toId: toId
		}, function(data) {
			vm.chatlist = data.result;

			setTimeout(function() {
				window.scrollTo(0, document.body.scrollHeight);
			}, 500)
		})

		var vm = new Vue({
			el: '#app',
			data: {
				chatlist: []
			}
		})

		function scrollToEnd() { //滚动到底部
			var h = $('#chat').height() - $(window).height();
			$('#chat').scrollTop(h);
		}

		$(function() {
			$('#send').click(function() {
				var v = $('#in').val();
				if(!v) {
					window.scrollTo(0, document.body.scrollHeight);
					vm.$dialog.toast({
						mes: '内容不能为空',
						timeout: 1000
					})

					return false;
				}
				post('/webUser/mySendMessage', {
					fromUid: 85,
					toUid: toId,
					messageContent: v
				}, function(data) {
					$('#chat').append('<li class="aui-chat"><div class="aui-chat-header"></div><div class="aui-chat-item aui-chat-right"><div class = "aui-chat-media" style="height: 2rem;"><img style="height: 100%;" src = "' + ip + localStorage.avatar + '" /></div><div class = "aui-chat-inner"><div class = "aui-chat-content"><div class = "aui-chat-arrow"></div>' + v + '</div><div class = "aui-chat-status"></div></div></div></li>');
					window.scrollTo(0, document.body.scrollHeight);
				})
				$('#in').val("");
			});
		})
	</script>

</html>