<!DOCTYPE html>
<html>

	<head>
		<title>消息</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="no">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="renderer" content="webkit">
		<meta name="screen-orientation" content="portrait">
		<meta name="full-screen" content="yes">
		<meta name="x5-orientation" content="portrait">
		<meta name="x5-fullscreen" content="true">
		<meta name="format-detection" content="telephone=no, email=no">

		<script src="../static/lib/js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="../static/lib/js/vue.min.js"></script>
		<script type="text/javascript" src="../static/lib/js/ydui.js"></script>
		<link rel="stylesheet" href="../css/mkui.css" />
		<link rel="stylesheet" href="../static/lib/css/ydui.rem.css" />
		<link rel="stylesheet" href="../static/css/common.css" />

		<link rel="stylesheet" href="../css/aui.css" />
		<script type="text/javascript" src="../js/aui-tab.js"></script>
		<script type="text/javascript" src="../js/aui-dialog.js"></script>

		<style>
			.msg-right p span:nth-child(2) {
				font-family: NotoSansHans-Regular;
				font-size: 0.7rem;
				color: #cccccc;
			}
			
			.msg-right p span:nth-child(3) {
				font-family: NotoSansHans-Regular;
				font-size: 0.7rem;
				color: #717171;
				margin-right: 10px;
			}
			
			.msg-news {
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		</style>
	</head>

	<body>
		<div id="app" hidden>
			<section v-if="!systemMessage&&chatMessage.length<1">
				<div class="fail">
					<div class="fail-pic">
						<img src="../static/img/fabu-fail.png" alt="" />
					</div>
					<p>现在还没有收到消息哦</p>
				</div>
			</section>
			<section v-if="systemMessage" class="mesg overflow-h border-b">
				<div class="pic pos-r">
					<a><img src="../static/img/Group@2x.png" /></a>
					<i v-if="systemMessage.read==0" class="red"></i>
				</div>
				<div class="msg-right">
					<p class="overflow-h">
						<span class="fl" onclick="detail(1)">系统通知</span>
						<span id="system" class="fr mr-8" @click="deleteMessage(1, systemMessage.fromUid==localStorage.userId?systemMessage.toUid:systemMessage.fromUid)">删除</span>
						<span class="fr">{{systemMessage.strCreatedAt}}</span>
					</p>
					<p id="sys_content" class="msg-news" v-html="systemMessage.messageContent" onclick="detail(1)">
					</p>
				</div>
			</section>
			<section v-for="item in chatMessage" class="mesg overflow-h border-b">
				<div class="pic pos-r">
					<a :href="item.fromUid==localStorage.userId?'cardgongying.html?id='+item.toUid:'cardgongying.html?id='+item.fromUid"><img :src="item.touxiang?ip+item.touxiang:'../static/img/avatar_96x96.png'" /></a>
					<i v-if="item.fromUid!=localStorage.userId&&item.read==0" class="red"></i>
				</div>
				<div class="msg-right">
					<p class="overflow-h">
						<span class="fl" @click="chat(item.fromUid==localStorage.userId?item.toUid:item.fromUid)">{{item.nickName}}</span>
						<span :id="item.fromUid==localStorage.userId?item.toUid:item.fromUid" class="fr mr-8" @click="deleteMessage(2, item.fromUid==localStorage.userId?item.toUid:item.fromUid)">删除</span>
						<span class="fr">{{item.strCreatedAt}}</span>
					</p>
					<p class="msg-news" @click="chat(item.fromUid==localStorage.userId?item.toUid:item.fromUid)">
						{{item.messageContent}}
					</p>
				</div>
			</section>
			<div style="height: 2.55rem;"></div>
			<footer class="aui-bar aui-bar-tab" id="footer">
				<div class="aui-bar-tab-item" tapmode>
					<i class="aui-iconfont aui-icon-home"></i>
					<div class="aui-bar-tab-label">首页</div>
				</div>
				<div class="aui-bar-tab-item" tapmode>
					<i class="aui-iconfont aui-icon-edit"></i>
					<div class="aui-bar-tab-label">发布</div>
				</div>
				<div class="aui-bar-tab-item" tapmode>
					<div v-if="xiaoxi" id="xiaoxi_tip" class="aui-badge">{{xiaoxi}}</div>
					<i class="aui-iconfont aui-icon-comment"></i>
					<div class="aui-bar-tab-label">消息</div>
				</div>
				<div class="aui-bar-tab-item" tapmode>
					<i class="aui-iconfont aui-icon-my"></i>
					<div class="aui-bar-tab-label">我的</div>
				</div>
			</footer>
		</div>
	</body>

	<script type="text/javascript" src="../js/config.js"></script>
	<script type="text/javascript">
		$(function() {
			var isPageHide = false;
			window.addEventListener('pageshow', function() {
				if(isPageHide) {
					window.location.reload();
				}
			});
			window.addEventListener('pagehide', function() {
				isPageHide = true;
			});
		})

		var userInfo = '';
		getUserInfo(localStorage.userId, function(data) {
			userInfo = data.result;

			if(data.result.regStatus != 1) {
				window.location.replace('../register/register.html');
				return;
			}

			$('#app').show();
		})

		post('/webUser/myMessage', {
			userId: localStorage.userId
		}, function(data) {
			vm.systemMessage = data.result.Message;
			vm.chatMessage = data.result.ChatList;
		})

		post('/webUser/allNotReadMessage', {
			userId: localStorage.userId
		}, function(data) {
			vm.xiaoxi = data.result;
		})

		var vm = new Vue({
			el: '#app',
			data: {
				msg_empty: false,
				systemMessage: '',
				chatMessage: [],
				xiaoxi: ''
			}
		})

		function detail(id) {
			window.location.href = "msg_detail.html?id=" + id;
		}

		function deleteMessage(type, id) {
			console.log(id);
			if(confirm("确定要删除吗?")) {
				post('/webUser/deleteMessage', {
					fromId: id,
					toId: localStorage.userId,
					messageType: type
				}, function(data) {
					if(type == 1) {
						$('#system').parent().parent().parent().remove();
					} else {
						$('#' + id).parent().parent().parent().remove();
					}
				})
			}
		}

		function chat(id) {
			window.location.href = "chat_detail.html?id=" + id;
		}

		var tab = new auiTab({
				element: document.getElementById("footer"),
				index: 3
			},
			function(ret) {
				switch(ret.index) {
					case 1:
						window.location.replace("../home.html")
						break;
					case 2:
						window.location.replace("../fabu.html")
						break;
					case 3:
						break;
					case 4:
						window.location.replace("../wode.html")
						break;
				}
			});
	</script>

</html>