<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>供应详情</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="renderer" content="webkit">
		<!--UC 浏览器-->
		<meta name="screen-orientation" content="portrait">
		<meta name="full-screen" content="yes">
		<!--QQ x5内核-->
		<meta name="x5-orientation" content="portrait">
		<meta name="x5-fullscreen" content="true">
		<meta name="format-detection" content="telephone=no, email=no">

		<script src="../../static/lib/js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="../../static/lib/js/vue.min.js"></script>
		<script type="text/javascript" src="../../static/lib/js/ydui.js"></script>
		<link rel="stylesheet" href="../../css/mkui.css" />
		<link rel="stylesheet" href="../../static/lib/css/ydui.rem.css" />
		<link rel="stylesheet" href="../../static/css/common.css" />
		<link rel="stylesheet" type="text/css" href="../../static/css/detail-gongying.css">

		<style type="text/css">
			.fabuDetail {
				font-size: 11px;
				margin: 0 auto;
				width: 21px;
				line-height: 14px;
				color: white;
				position: fixed;
				top: 84px;
				right: 5px;
				border-radius: 3px;
				padding-top: 0.5rem;
				background-color: #F91605;
				opacity: 0.5;
				filter: alpha(Opacity=40);
				-moz-opacity: 0.4;
				height: 75px;
				text-align: center;
				zoom: 1.6;
			}
			
			.understandMore {
				font-weight: 600;
				text-align: center;
				display: none;
				font-family: NotoSansHans-Regular;
				font-size: 15px;
				color: #03A9F4;
			}
		</style>

	</head>

	<body class="bg-fff">

		<div id="app">
			<yd-slider id="yd_slider" v-if="imglist.length>0" autoplay="5000">
				<yd-slider-item v-for="item in imglist">
					<img :src="ip+item" />
				</yd-slider-item>
			</yd-slider>

			<section class="job-address">
				<h3 class="border-b">供应类别：<span>{{category}}</span></h3>
			</section>
			<section class="job-head border-b ">
				<div class="job-name overflow-h product-name">
					<h3 class="fl">{{title}}</h3>
				</div>
				<div class="number overflow-h">
					<p class="fl">单价：<span>{{price}} 元/{{unit}}</span></p>
					<p class="fl">数量：<span>{{quantity}} {{unit}}</span></p>
				</div>
				<div class="require overflow-h">
					<ul class="overflow-h">
						<li class="fl">联系人：<span>{{contact}}</span></li>
						<li class="fr">联系电话：<span>{{phone}}</span></li>
					</ul>
				</div>
				<div class="valid fuli overflow-h">
					<p>有效期至：<span>{{end_at}}</span></p>
				</div>
			</section>
			<section class="collec border-b">
				<ul class="overflow-h">
					<li>更新：<span>{{updated_at}}</span></li>
					<li>收藏：<span>{{favourite}}次</span></li>
					<li>浏览：<span>{{trueView}}人</span></li>
				</ul>
			</section>
			<div class="div1"></div>
			<section class="job-address">
				<h3 class="border-b">供应地址</h3>
				<p class="border-b">{{province}} {{city}} {{address}}
					<a :href="daohang" class="fr"><i class="ico ico-right fr"></i></a>
				</p>
			</section>
			<section class="param" v-if="guiges">
				<h3 class="border-b">规格参数</h3>
				<div class="mfrs overflow-h" v-for="item in guiges">
					<p class="fl mr-20"><span class="">{{item}}</p>
				</div>
			</section>
			<div class="div1"></div>
			<section class="invite">
				<h3 class="border-b">供应详情</h3>
				<div class="content">
					<p v-html="content">
					</p>
				</div>
			</section>
			<div class="tousu pos-r">
				<a :href="userInfo.regStatus == 1?'../zhaopin/tousu.html?id=' + id + '&name=' + title:'../../register/register.html'">
					<div class="tousu-main pos-a">
						<i class="ico ico-tousu"></i>
						<span>投诉</span>
				</div>
				</a>
		</div>
		<!--相似供应-->
		<section class="like-zb">
			<h3 class="border-b same">相似供应</h3>
			<section class="content-list  lh-24 ">
				<div>
					<article class="m-list list-theme4">
						<a v-for="item in similaritylist" :href='"gongyingdetail.html?id="+item.id' class="list-item">
							<div class="list-img"></div>
							<div class="list-mes">
								<div class="list-title">
									<p class="f-16 ">
										<span>{{item.title}}</span>
										<span class="fr c-ec9d1d">{{item.price}}/{{item.unit}}</span>
									</p>
								</div>
								<div class="list-other">
									<h4 class="mt-10 f-14 "><span class="fl">{{item.city}}</span>
                        					<span class="ml-15">{{item.quantity}}{{item.unit}}</span>
                        					<span class="fr time">{{item.updatedAt}}</span>
                    					</h4>
									<p class="recruit-pos f-14 mt-5 pos-name">{{item.orgName}}</p>
								</div>
							</div>
						</a>
					</article>
				</div>
			</section>
		</section>
		<div style="height: 57px;"></div>
		<footer v-if="localStorage.userId!=userId">
			<ul class="overflow-h">
				<li>
					<a :href="'tel:'+phone">
						<img src="../../static/img/ico-phone.png" alt="" />
						<span>电话</span>
					</a>
				</li>
				<li class="second">
					<a :href='userInfo.regStatus == 1?"../../message/chat_detail.html?id="+userId:"../../register/register.html"'>
						<img src="../../static/img/xiaoxi.png" alt="" />
						<span>消息</span>
					</a>
				</li>
				<li class="last sc" @click="favouritec()">
					<img v-if="isShoucang" src="../../static/img/shoucang2.png" alt="" />
					<img v-else src="../../static/img/shoucang1.png" alt="" />
					<span class="on">收藏</span>
				</li>
			</ul>
		</footer>
		<div class="fabuDetail" style="display: none;">我也要发布</div>
		<div class="understandMore">
			<p class="ml-10">了解更多请关注“仝仝生态”</p>
			<img src="../../static/img/wx_gzhewm.png" width="225px" height="225px;" style="margin: 0px auto;">
			<p class="ml-10 f-13 mt-5">长按识别二维码即可关注</p>
			<div style="height: 64px;"></div>
		</div>
		</div>
	</body>

	<script type="text/javascript" src="../../js/config.js"></script>
	<script type="text/javascript">
		var userInfo = '';
		getUserInfo(localStorage.userId, function(data) {
			userInfo = data.result;
		})
		/* 如果是分享跳转的链接显示我要发布按钮*/
		var urlStr = window.location.href;
		if((urlStr.indexOf('from=singlemessage')) > 0 ||
			(urlStr.indexOf('from=timeline')) > 0 ||
			(urlStr.indexOf('from=groupmessage')) > 0) {
			$('.fabuDetail').css('display', 'block');
			$('.understandMore').css('display', 'block');
		}
		var qs = new QueryString();
		var id = parseInt(qs['id']);
		if(qs['isgy']) {
			window.history.pushState({}, "首页", "");
			window.addEventListener("popstate", function(e) {
				window.location.replace('gongying.html');
			}, false);
		}
		localStorage.gongyingsign = 1;
		var imglist = [];
		post('/webGy/GongyingMessage', {
			id: id
		}, function(data) {
			var d = data.result;
			vm.category = d.category;
			vm.price = d.price;
			vm.unit = d.unit;
			vm.quantity = d.quantity;
			vm.contact = d.contact;
			vm.phone = d.phone;
			vm.end_at = d.endAt;
			vm.updated_at = d.updateAt;
			vm.favourite = d.shoucang;
			vm.trueView = d.liulan;
			vm.address = d.address;
			vm.daohang = d.ditu;
			vm.content = strReplace(d.content);
			vm.title = d.title;
			vm.userId = d.userId;
			vm.guiges = d.guiges;
			imglist = d.imgUrl;
		})
		post('/webSc/isFavorite', {
			id: id,
			userId: localStorage.userId
		}, function(data) {
			vm.isShoucang = data.result;
			if(data.result) {
				$('.on').css('color', '#ec9d1d');
				$('.on').html('取消');
			}
		})
		post('/webUser/addBrowser', {
			userId: localStorage.userId,
			articleId: id
		}, function(data) {})
		post('/webGy/Gongying', {
			pageNo: 1,
			pageSize: 2
		}, function(data) {
			vm.similaritylist = data.result;
		})
		var vm = new Vue({
			el: '#app',
			data: {
				category: "",
				title: "",
				price: "",
				quantity: "",
				contact: "",
				phone: "",
				created_at: "",
				end_at: "",
				updated_at: "",
				trueView: "",
				province: "",
				city: "",
				address: "",
				content: "",
				similaritylist: [],
				unit: '',
				daohang: '',
				favourite: '',
				userId: '',
				isShoucang: false,
				guiges: []
			},
			methods: {
				favouritec: function() {
					if(userInfo.regStatus != 1) {
						window.location.href = '../../register/register.html';
						return;
					}
					post('/webSc/favorite', {
						userId: localStorage.userId,
						id: id,
						shoucang: !vm.isShoucang
					}, function(data) {
						vm.isShoucang = !vm.isShoucang;
						if(vm.isShoucang) {
							$('.on').css('color', '#ec9d1d');
							$('.on').html('取消');
						} else {
							$('.on').css('color', '#717171');
							$('.on').html('收藏');
						}
						vm.$dialog.toast({
							mes: data.reason,
							icon: 'success',
							timeout: 1500,
						});
					})
				}
			},
		});
		$(function() {
			/** 发布链接页面跳转*/
			$(".fabuDetail").on('click', function() {
				vm.$dialog.confirm({
					mes: '<div style="text-align: center;">发布信息之前需关注<font color="red">“仝仝生态”</font></br>是否确认关注?</div>',
					opts: [{
						txt: '关注',
						color: false,
						callback: function() {
							window.location.href = 'http://dwz.cn/6fbbCU';
						}
					}, {
						txt: '我已关注',
						color: false,
						callback: function() {
							window.location.href = '../../fabu.html';
						}
					}]
				});
			});
		})
	</script>

</html>