<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>供应信息</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="renderer" content="webkit">
		<!--UC 浏览器-->
		<meta name="screen-orientation" content="portrait">
		<meta name="full-screen" content="yes">
		<!--QQ x5内核-->
		<meta name="x5-orientation" content="portrait">
		<meta name="x5-fullscreen" content="true">
		<meta name="format-detection" content="telephone=no, email=no">
		<link rel="stylesheet" type="text/css" href="../../static/lib/css/mkui.css">
		<link rel="stylesheet" href="../../static/lib/css/ydui.rem.css">
		<script src="../../static/lib/js/jquery-1.11.1.min.js"></script>
		<script src="../../static/lib/js/ydui,flexible.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/lib/js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/lib/js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/lib/js/ydui.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../../static/css/common.css">
		<link rel="stylesheet" type="text/css" href="../../static/css/qiuzhi.css">
	</head>

	<body class="bg-fff">
		<div id="app" class="none">
			<div class="both-all">
				<!--搜索区域-->
				<section class="w-serach pos-f  pl-10 pr-10 bg-ff5252 overflow-h">
					<span class="search-text fl">
						<a href="javascript:shouye()">
							<i class="ico ico-shouye"></i>
							<p>首页</p>
						</a>
					</span>
					<form action="">
						<div class="m-serah pos-r">
							<i class="ico ico-search-one left" @click="search()"></i>
							<input id="keyword" type="search" class="m-search-input text-c pl-20 pr-10 radius" v-model="title" placeholder="点击搜索供应" />
						</div>
					</form>
				</section>
				<section class="term ">
					<ul class="tab-nav  overflow-h ">
						<li class="border-r  address"><span class="">城市</span><i class="ico ico-bottom"></i></li>
						<li class="border-r zhiwei"><span>类别</span><i class="ico ico-bottom"></i></li>
						<li class="border-r xinzi"><span>价格</span><i class="ico ico-bottom"></i></li>
						<li class="border-r quanbu"><span>更多</span><i class="ico ico-bottom"></i></li>
					</ul>
				</section>
				<input type="hidden" id="choosedcity" />
				<input type="hidden" id="choosedcategory" />
				<input type="hidden" id="choosedprice" />
				<input type="hidden" id="choosedtype" />
			</div>
			<div class="div1"></div>
			<div class="tab-panl none">
				<div class=" overflow-h">
					<ul class=" province fl">
						<li @click="buxian('city')">不限</li>
						<li v-for="item in province">{{item.name}}</li>
					</ul>
					<div class="city fl none">
						<ul>
							<li class="ret"></li>
						</ul>
					</div>
					<div class="city fl none" v-for="item in city">
						<ul>
							<li v-for="c in item" @click="selectcity(c.id)">{{c.name}}</li>
						</ul>
					</div>
				</div>
			</div>
			<!--职-->
			<div class="tab-panl none">
				<div class="overflow-h">
					<ul class=" fl job">
						<li @click="buxian('leibie')">不限</li>
						<li v-for="item in job">{{item.title}}</li>
					</ul>
					<div class="job-list fl none">
						<ul>
							<li class="ret"></li>
						</ul>
					</div>
					<div class="job-list fl none" v-for="item in joblist">
						<ul>
							<li v-for="j in item" @click="selectgangwei(j.id)">{{j.title}}</li>
						</ul>
					</div>
				</div>
			</div>
			<!--薪资-->
			<div class="tab-panl none">
				<ul class="money gongzi">
					<li @click="buxian('jiage')">不限</li>
					<li v-for="item in xinzi" @click="selectxinzi(item.id)">{{item.itemName}}</li>
				</ul>
			</div>
			<!--更多-->
			<div class="tab-panl none">
				<ul class="money  xingzhi">
					<li v-for="item in quanbu" @click="selecttype(item.id)">{{item.name}}</li>
				</ul>
			</div>

			<yd-infinitescroll :on-infinite="loadList">
				<yd-list theme="4" slot="list">
					<yd-list-item v-for="item in datalist" :href='"gongyingdetail.html?id="+item.id'>
						<p slot="title" class="f-16 ">
							<span>{{item.title}}</span>
							<span class="fr c-ec9d1d">{{item.price}}/{{item.unit}}</span>
						</p>
						<yd-list-other slot="other">
							<h4 class="mt-10 f-14 "><span class="fl">{{item.city}}</span>
                        		<span class="ml-15">{{item.quantity}}{{item.unit}}</span>
                        		<span class="fr time">{{item.updatedAt}}</span>
                    		</h4>
							<p class="recruit-pos f-14 mt-10 pos-name">{{item.orgName}}</p>
						</yd-list-other>
					</yd-list-item>
				</yd-list>
				<!-- 数据全部加载完毕显示 -->
				<span slot="doneTip" class="text-c pd-5 f-14">全部数据已加载完成</span>
				<!-- 加载中提示 -->
				<img slot="loadingTip" src="../../static/img/loading10.svg" style="width: 1.5rem;height: 1.5rem;margin: .5rem" />
			</yd-infinitescroll>
			</section>

		</div>
	</body>

	<script type="text/javascript" src="../../js/config.js"></script>
	<script>
		var province;
		var city;
		var job;
		var jobList;
		var xinzi;

		getCity(function(p, c) {
			this.province = p;
			this.city = c;
		})

		post1('/webItem/getCategoryList', false, {
			type: 'gongying'
		}, function(data) {
			var list = data.result;
			var a = [];
			var b = [];
			var bM = {};
			for(var i = 0; i < list.length; i++) {
				if(list[i].pid == 0) {
					a.push(list[i]);
				} else {
					b.push(list[i]);
				}
			}
			for(var i = 0; i < a.length; i++) {
				var array = [];
				for(var j = 0; j < b.length; j++) {
					if(a[i].id == b[j].pid) {
						array.push(b[j]);
						bM['' + a[i].id] = array;
					}
				}
			}
			for(var i = 0; i < a.length - 1; i++) {
				for(var j = 0; j < a.length - 1 - i; j++) {
					if(a[j].id > a[j + 1].id) {
						var temp = a[j];
						a[j] = a[j + 1];
						a[j + 1] = temp;
					}
				}
			}
			this.job = a;
			this.jobList = bM;
		})

		getDicTable(false, '013', function(data) {
			this.xinzi = data.result;
		})

		var state = window.history.state;
		if(localStorage.gongyingsign) {
			if(localStorage.gongyingsign == 1) {
				localStorage.gongyingsign = 0;
			} else {
				state = null;
			}
		} else {
			state = null;
		}
		if(!state) {
			state = '';
			post('/webGy/Gongying', {
				pageNo: 1,
				pageSize: 10
			}, function(data) {
				vm.datalist = data.result;
			})
		}

		var vm = new Vue({
			el: "#app",
			data: {
				page: 2,
				pageSize: 10,
				datalist: state.items,
				textarr: {
					jingyan: '请选择',
					xueli: '请选择',
					nianling: '请选择',
					xingbie: '请选择',
					zhicheng: '请选择'
				},
				quanbu: [{
					id: '',
					name: '全部'
				}, {
					id: 2,
					name: '企业'
				}, {
					id: 1,
					name: '个人'
				}],
				job: job,
				xinzi: xinzi,
				province: province,
				joblist: jobList,
				title: ''
			},
			methods: {
				loadList: function() {
					if(state) {
						if(state.page) {
							if(vm.page != 1) {
								vm.page = state.page;
							}
						}
					}
					post('/webGy/Gongying', {
						pageNo: vm.page,
						pageSize: vm.pageSize,
						city: $("#choosedcity").val(),
						category: $("#choosedcategory").val(),
						price: $("#choosedprice").val(),
						userType: $("#choosedtype").val(),
						title: vm.title
					}, function(data) {
						_list = data.result;
						if(vm.page == 1) {
							vm.datalist = _list;
						} else {
							vm.datalist = vm.datalist.concat(_list);
						}

						if(!isIPhone()) {
							window.history.pushState({
								items: vm.datalist,
								page: vm.page += 1
							}, "", "gongying.html");
						}

						if(vm.page > 1 && _list.length < vm.pageSize) {
							window.$yduiBus.$emit('ydui.infinitescroll.loadedDone');
							return;
						}
						window.$yduiBus.$emit('ydui.infinitescroll.finishLoad');
						vm.page++;
					})
				},
				selectcity: function(id) {
					$("#choosedcity").val(id);
					vm.page = 1;
					vm.loadList();
				},
				selectgangwei: function(id) {
					$("#choosedcategory").val(id);
					vm.page = 1;
					vm.loadList();
				},
				selectxinzi: function(id) {
					$("#choosedprice").val(id);
					vm.page = 1;
					vm.loadList();
				},
				selecttype: function(id) {
					$("#choosedtype").val(id);
					vm.page = 1;
					vm.loadList();
				},
				search: function() {
					vm.page = 1;
					vm.loadList();
				},
				buxian: function(t) {
					if(t == 'leibie') {
						$(".tab-nav>.zhiwei>span").html('类别');
						$(".tab-nav>.zhiwei>span").removeClass('current');
						$(".tab-nav>.zhiwei>i").removeClass('ico-bottom2').addClass('ico-bottom');
						$("#choosedcategory").val('')
					}
					if(t == 'city') {
						$(".tab-nav>.address>span").html('城市');
						$(".tab-nav>.address>span").removeClass('current');
						$(".tab-nav>.address>i").removeClass('ico-bottom2').addClass('ico-bottom');
						$("#choosedcity").val('');
					}
					if(t == 'jiage') {
						$(".tab-nav>.xinzi>span").html('价格');
						$(".tab-nav>.xinzi>span").removeClass('current');
						$(".tab-nav>.xinzi>i").removeClass('ico-bottom2').addClass('ico-bottom');
						$("#choosedprice").val('')
					}
					$('.tab-panl').addClass('none');
					vm.page = 1;
					vm.loadList();
				}
			},

			mounted: function() {
				$("#app").show();
			}

		});

		function shouye() {
			window.location.replace('../../home.html');
		}

		$(function() {
			$('.tab-nav li').on("click", function() {
				$('.tab-nav li span').removeClass('current');
				$(this).find('span').addClass('current');
				if($('.tab-panl').eq($(this).index()).hasClass('none')) {
					$('.tab-panl').eq($(this).index()).removeClass('none').siblings('.tab-panl').addClass('none');
					$(this).children('i').removeClass('ico-bottom').addClass('ico-bottom2');
					$(this).siblings().children('i').removeClass('ico-bottom2').addClass('ico-bottom')
				} else {
					$('.tab-panl').eq($(this).index()).addClass('none').siblings('.tab-panl').addClass('none');

					$(this).children('i').removeClass('ico-bottom2').addClass('ico-bottom');
					$(this).find('span').removeClass('current')
				}
				//$(this).children('i').removeClass('ico-bottom2').addClass('ico-bottom1');
			});
			$('.province li').click(function() {
				$('.city').eq($(this).index()).removeClass('none').siblings('.city').addClass('none');
				$(this).css('background', '#FFFFFF').siblings('.province li').css('background', '#ededed');
			});
			$('.city li').click(function() {
				$('.address span').text($(this).text())
				$('.city li ').removeClass('current');
				$(this).addClass('current')
				$('.tab-panl').addClass('none')
				$('.address span').removeClass('current');
				$('.address').children('i').removeClass('ico-bottom2').addClass('ico-bottom');
			})
			/*职位*/
			$('.job li').click(function() {
				$('.job-list').eq($(this).index()).removeClass('none').siblings('.job-list').addClass('none');
				$(this).css('background', '#FFFFFF').siblings('.job li').css('background', '#ededed');
			});
			$('.job-list li').click(function() {
				$('.zhiwei span').text($(this).text());
				$('.zhiwei span').removeClass('current');
				$('.zhiwei').children('i').removeClass('ico-bottom2').addClass('ico-bottom');

				$('.tab-panl').addClass('none')
				$('.job-list li ').removeClass('current');
				$(this).addClass('current')
			});
			$('.gongzi li').click(function() {
				$('.xinzi span').text($(this).text());
				$('.tab-panl').addClass('none');
				$('.xinzi span').removeClass('current');
				$('.xinzi').children('i').removeClass('ico-bottom2').addClass('ico-bottom');
			});
			$('.xingzhi li').click(function() {
				$('.quanbu span').text($(this).text());
				$('.quanbu span').removeClass('current');
				$('.tab-panl').addClass('none')
				$('.quanbu').children('i').removeClass('ico-bottom2').addClass('ico-bottom');
			});
			$('.button').click(function() {
				$('.quanbu span').removeClass('current');
			});

			$("#keyword").on('keypress', function(e) {
				var keycode = e.keyCode;
				var searchName = $(this).val();
				if(keycode == '13') {
					e.preventDefault();
					//请求搜索接口
					vm.page = 1;
					vm.loadList();
				}
			});
		})
	</script>

</html>