<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>更新公司信息</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="renderer" content="webkit">
		<!--UC 浏览器-->
		<meta name="screen-orientation" content="portrait">
		<meta name="full-screen" content="yes">
		<!--QQ x5内核-->
		<meta name="x5-orientation" content="portrait">
		<meta name="x5-fullscreen" content="true">
		<meta name="format-detection" content="telephone=no, email=no">
		<link rel="stylesheet" type="text/css" href="../../static/lib/css/mkui.css">
		<link rel="stylesheet" href="../../static/lib/css/ydui.rem.css">
		<script src="../../static/lib/js/jquery-1.11.1.min.js"></script>
		<script src="../../static/lib/js/ydui,flexible.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/lib/js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/lib/js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/lib/js/ydui.js" type="text/javascript" charset="utf-8"></script>

		<link rel="stylesheet" type="text/css" href="../../static/css/common.css">
		<link rel="stylesheet" type="text/css" href="../../static/css/add-jianli.css">
		<link rel="stylesheet" type="text/css" href="../../static/css/zhaopin-index.css">
		<script type="text/javascript" src="../../js/md5.js"></script>
		<script type="text/javascript" src="../../js/config.js"></script>
	</head>

	<body>

		<div id="app">
			<section class="pass-main">
				<div class="pass-input">
					<input type="password" v-model="oldpassword" placeholder="请填写原密码" />
				</div>
			</section>
			<section class="pass-main">
				<div class="pass-input">
					<input type="password" v-model="newpassword" placeholder="请填写新密码" />
				</div>
			</section>
			<section class="pass-main">
				<div class="pass-input">
					<input type="password" v-model="confirmpassword" placeholder="再次确认新密码" />
				</div>
			</section>
			<div class="sure-btn" @click="update()">确定修改</div>
		</div>

		<script type="text/javascript">
			var vm = new Vue({
				el: '#app',
				data: {
					oldpassword: '',
					newpassword: '',
					confirmpassword: ''
				},
				methods: {
					update: function() {
						if(vm.newpassword != vm.confirmpassword) {
							vm.$dialog.toast({
								mes: "两次密码不一致!",
								icon: 'error',
								timeout: 1500
							});
							return false;
						}
						if(vm.newpassword == '') {
							vm.$dialog.toast({
								mes: "新密码不能为空!",
								icon: 'error',
								timeout: 1500
							});
							return false;
						}
						post('/webUser/changeMyPassword', {
								'userId': localStorage.userId,
								'password': vm.oldpassword,
								'newPassword': vm.newpassword
							},
							function(data) {
								console.log(data);
								if(data.reason == '修改成功') {
									alert("修改成功！");
									window.location.href = "updatesetting.html";
								} else {
									alert("修改失败，请重试！");
								}
							})
					}
				},
			})
		</script>
	</body>

</html>