<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>招标信息</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="renderer" content="webkit">
		<!--UC 浏览器-->
		<meta name="screen-orientation" content="portrait">
		<meta name="full-screen" content="yes">
		<!--QQ x5内核-->
		<meta name="x5-orientation" content="portrait">
		<meta name="x5-fullscreen" content="true">
		<meta name="format-detection" content="telephone=no, email=no">
		<link rel="stylesheet" type="text/css" href="../../static/lib/css/mkui.css">
		<link rel="stylesheet" href="../../static/lib/css/ydui.rem.css">
		<script src="../../static/lib/js/jquery-1.11.1.min.js"></script>
		<script src="../../static/lib/js/ydui,flexible.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/lib/js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/lib/js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/lib/js/ydui.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="../../js/config.js"></script>
		<link rel="stylesheet" type="text/css" href="../../static/css/common.css">
		<link rel="stylesheet" type="text/css" href="../../static/css/qiuzhi.css">
	</head>

	<body class="bg-fff">

		<div id="app" class="none no-select-two">
			<div class="both-all">
				<!--搜索区域-->
				<section class="w-serach pos-f  pl-10 pr-10 bg-ff5252 overflow-h">
					<span class="search-text fl">
						<a href="javascript:shouye()">
							<i class="ico ico-shouye"></i>
							<p>首页</p>
						</a>
					</span>
					<form action="">
						<div class="m-serah pos-r">
							<i class="ico ico-search-one left" @click="search()"></i>
							<input id="keyword" type="search" class="m-search-input text-c pl-20 pr-10 radius" v-model="title" placeholder="点击搜索招标" />
						</div>
					</form>
				</section>
				<section class="term ">
					<ul class="tab-nav  overflow-h ">
						<li class="border-r  address"><span class="">城市</span><i class="ico ico-bottom"></i></li>
						<li class="border-r zhiwei"><span>类别</span><i class="ico ico-bottom"></i></li>
						<li class="border-r xinzi"><span>价格</span><i class="ico ico-bottom"></i></li>
						<li class="border-r quanbu"><span>更多</span><i class="ico ico-bottom"></i></li>
					</ul>
				</section>
				<input type="hidden" id="choosedcity" />
				<input type="hidden" id="choosedcategory" />
				<input type="hidden" id="choosedprice" />
				<input type="hidden" id="choosedtype" />
			</div>
			<div class="div1"></div>
			<div class="tab-panl none">
				<div class=" overflow-h">
					<ul class=" province fl">
						<li @click="buxian('city')">不限</li>
						<li v-for="item in province">{{item.name}}</li>
					</ul>
					<div class="city fl none">
						<ul>
							<li class="ret"></li>
						</ul>
					</div>
					<div class="city fl none" v-for="item in city">
						<ul>
							<li v-for="c in item" @click="selectcity(c.id)">{{c.name}}</li>
						</ul>
					</div>
				</div>
			</div>
			<!--职位-->
			<div class="tab-panl none">
				<div class="overflow-h h-100">
					<ul class="fl job h-100">
						<li @click="buxian('leibie')">不限</li>
						<li v-for="item in job">{{item.title}}</li>
					</ul>
					<div class="job-list fl none">
						<ul>
							<li class="ret"></li>
						</ul>
					</div>
					<div class="job-list fl none " v-for="item in joblist">
						<ul>
							<li v-for="j in item" @click="selectgangwei(j.id)">{{j.title}}</li>
						</ul>
					</div>
				</div>
			</div>
			<!--薪资-->
			<div class="tab-panl none">
				<ul class="money gongzi">
					<li @click="buxian('jiage')">不限</li>
					<li v-for="item in xinzi" @click="selectxinzi(item.id)">{{item.itemName}}</li>
				</ul>
			</div>
			<!--更多-->
			<div class="tab-panl none">
				<ul class="money  xingzhi">
					<li v-for="item in quanbu" @click="selecttype(item.id)">{{item.name}}</li>
				</ul>
			</div>
			<section class="content-list  lh-24 "></section>
			<section class="content-list  lh-24 ">
				<yd-infinitescroll :on-infinite="loadList">
					<yd-list theme="4" slot="list">
						<yd-list-item v-for="item in datalist" :href='"zhaobiaodetail.html?id="+item.id'>
							<p slot="title" class="f-16 ">
								<span>{{item.title}}</span>
								<span class="fr c-ec9d1d">{{item.price==''?'面议':item.price+'元'}}/{{item.unit}}</span>
							</p>
							<yd-list-other slot="other">
								<h4 class="mt-10 f-14 ">
                            		<span class="fl">{{item.city}}</span>
                            		<span class="ml-15">{{item.quantity==-1||item.quantity==''?'已招标文件为主	单位：':item.quantity}}{{item.unit}}</span>
                            		<span class="fr time ">{{item.updatedAt}}</span>
                        		</h4>
								<p class="recruit-pos f-14 mt-5 pos-name">{{item.orgName}}</p>
							</yd-list-other>
						</yd-list-item>
					</yd-list>
					<!-- 数据全部加载完毕显示 -->
					<span slot="doneTip" class="text-c pd-5 f-14">全部数据已加载完成</span>
					<!-- 加载中提示 -->
					<img slot="loadingTip" src="../../static/img/loading10.svg" style="width: 1.5rem;height: 1.5rem;margin: .5rem" />
				</yd-infinitescroll>
			</section>
		</div>

		<script>
			var province;
			var city;
			var job;
			var jobList;
			var xinzi;
			getCity(function(p, c) {
				this.province = p;
				this.city = c;
			})
			post1('/webItem/getCategoryList', false, {
				type: 'zhaobiao'
			}, function(data) {
				var list = data.result;
				var a = [];
				var b = [];
				var bM = {};
				for(var i = 0; i < list.length; i++) {
					if(list[i].pid == 0) {
						a.push(list[i]);
					} else {
						b.push(list[i]);
					}
				}
				for(var i = 0; i < a.length; i++) {
					var array = [];
					for(var j = 0; j < b.length; j++) {
						if(a[i].id == b[j].pid) {
							array.push(b[j]);
							bM['' + a[i].id] = array;
						}
					}
				}
				for(var i = 0; i < a.length - 1; i++) {
					for(var j = 0; j < a.length - 1 - i; j++) {
						if(a[j].id > a[j + 1].id) {
							var temp = a[j];
							a[j] = a[j + 1];
							a[j + 1] = temp;
						}
					}
				}
				this.job = a;
				this.jobList = bM;
			})
			getDicTable(false, '013', function(data) {
				this.xinzi = data.result;
			})
			var state = window.history.state;
			if(localStorage.zhaobiaosign) {
				if(localStorage.zhaobiaosign == 1) {
					localStorage.zhaobiaosign = 0;
				} else {
					state = null;
				}
			} else {
				state = null;
			}
			if(!state) {
				state = '';
				post('/webZb/Zhaobiao', {
					pageNo: 1,
					pageSize: 10
				}, function(data) {
					console.log(data);
					vm.datalist = data.result;
				})
			}
			var vm = new Vue({
				el: "#app",
				data: {
					page: 2,
					pageSize: 10,
					datalist: state.items,
					textarr: {
						jingyan: '请选择',
						xueli: '请选择',
						nianling: '请选择',
						xingbie: '请选择',
						zhicheng: '请选择'
					},
					quanbu: [{
						id: 0,
						name: '全部'
					}, {
						id: 2,
						name: '企业'
					}, {
						id: 1,
						name: '个人'
					}],
					xinzi: xinzi,
					province: province,
					city: city,
					job: job,
					joblist: jobList,
					jingyan: '',
					xueli: '',
					zhicheng: '',
					age: '',
					gender: '',
					title: ''
				},
				methods: {
					loadList: function() {
						if(state) {
							if(state.page) {
								if(vm.page != 1) {
									vm.page = state.page;
								}
							}
						}
						post('/webZb/Zhaobiao', {
							pageNo: vm.page,
							pageSize: vm.pageSize,
							city: $("#choosedcity").val(),
							category: $("#choosedcategory").val(),
							price: $("#choosedprice").val(),
							userType: $("#choosedtype").val(),
							title: vm.title
						}, function(data) {
							_list = data.result;
							if(vm.page == 1) {
								vm.datalist = _list;
							} else {
								vm.datalist = vm.datalist.concat(_list);
							}
							window.history.pushState({
								items: vm.datalist,
								page: vm.page += 1
							}, "", "zhaobiao.html");
							if(vm.page > 2 && _list.length < vm.pageSize) {
								window.$yduiBus.$emit('ydui.infinitescroll.loadedDone');
								return;
							}
							window.$yduiBus.$emit('ydui.infinitescroll.finishLoad');
							vm.page++;
						})
					},
					selectcity: function(id) {
						$("#choosedcity").val(id);
						vm.page = 1;
						$('.address').children('i').removeClass('ico-bottom2').addClass('ico-bottom')
						vm.loadList();
					},
					selectgangwei: function(id) {
						$("#choosedcategory").val(id);
						vm.page = 1;
						$('.zhiwei').children('i').removeClass('ico-bottom2').addClass('ico-bottom');
						vm.loadList();
					},
					selectxinzi: function(id) {
						$("#choosedprice").val(id);
						vm.page = 1;
						$('.xinzi').children('i').removeClass('ico-bottom2').addClass('ico-bottom');
						vm.loadList();
					},
					selecttype: function(id) {
						$("#choosedtype").val(id);
						vm.page = 1;
						$('.quanbu').children('i').removeClass('ico-bottom2').addClass('ico-bottom');
						vm.loadList();
					},
					search: function() {
						vm.page = 1;
						vm.loadList();
					},
					buxian: function(t) {
						if(t == 'leibie') {
							$(".tab-nav>.zhiwei>span").html('类别');
							$(".tab-nav>.zhiwei>span").removeClass('current');
							$(".tab-nav>.zhiwei>i").removeClass('ico-bottom2').addClass('ico-bottom');
							$("#choosedcategory").val('')
						}
						if(t == 'city') {
							$(".tab-nav>.address>span").html('城市');
							$(".tab-nav>.address>span").removeClass('current');
							$(".tab-nav>.address>i").removeClass('ico-bottom2').addClass('ico-bottom');
							$("#choosedcity").val('');
						}
						if(t == 'jiage') {
							$(".tab-nav>.xinzi>span").html('价格');
							$(".tab-nav>.xinzi>span").removeClass('current');
							$(".tab-nav>.xinzi>i").removeClass('ico-bottom2').addClass('ico-bottom');
							$("#choosedprice").val('')
						}
						$('.tab-panl').addClass('none');
						vm.page = 1;
						vm.loadList();
					}
				},
				mounted: function() {
					$("#app").show();
				}
			});

			function shouye() {
				window.location.replace('../../home.html');
			}

			$(function() {
				window.addEventListener("popstate", function(e) {
					window.location.replace('../../home.html');
				}, false);
				$('.tab-nav li').on("click", function() {
					$('.tab-nav li span').removeClass('current');
					$(this).find('span').addClass('current');
					if($('.tab-panl').eq($(this).index()).hasClass('none')) {
						$('.tab-panl').eq($(this).index()).removeClass('none').siblings('.tab-panl').addClass('none');
						$(this).children('i').removeClass('ico-bottom').addClass('ico-bottom2');
						$(this).siblings().children('i').removeClass('ico-bottom2').addClass('ico-bottom')
					} else {
						$('.tab-panl').eq($(this).index()).addClass('none').siblings('.tab-panl').addClass('none');
						$(this).children('i').removeClass('ico-bottom2').addClass('ico-bottom');
						$(this).children('i').removeClass('ico-bottom2').addClass('ico-bottom');
						$(this).find('span').removeClass('current')
					}
					window.$yduiBus.$emit('ydui.infinitescroll.finishLoad');
					//$(this).children('i').removeClass('ico-bottom2').addClass('ico-bottom1');
				});
				$('.province li').click(function() {
					$('.city').eq($(this).index()).removeClass('none').siblings('.city').addClass('none');
					$(this).css('background', '#FFFFFF').siblings('.province li').css('background', '#ededed');
				});
				$('.city li').click(function() {
					$('.address span').text($(this).text())
					$('.city li ').removeClass('current');
					$(this).addClass('current')
					$('.address span').removeClass('current');
					$('.address').children('i').removeClass('ico-bottom2').addClass('ico-bottom')
					$('.tab-panl').addClass('none')
				})
				/*职位*/
				$('.job li').click(function() {
					$('.job-list').eq($(this).index()).removeClass('none').siblings('.job-list').addClass('none');
					$(this).css('background', '#FFFFFF').siblings('.job li').css('background', '#ededed');
				});
				$('.job-list li').click(function() {
					$('.zhiwei span').text($(this).text());
					$('.zhiwei span').removeClass('current');
					$('.zhiwei').children('i').removeClass('ico-bottom2').addClass('ico-bottom');
					$('.tab-panl').addClass('none')
					$('.job-list li ').removeClass('current');
					$(this).addClass('current')
				});
				$('.gongzi li').click(function() {
					$('.xinzi span').text($(this).text());
					$('.xinzi span').removeClass('current');
					$('.tab-panl').addClass('none')
				});
				$('.xingzhi li').click(function() {
					$('.quanbu span').text($(this).text());
					$('.quanbu span').removeClass('current');
					$('.tab-panl').addClass('none')
				});
				$("#keyword").on('keypress', function(e) {
					var keycode = e.keyCode;
					var searchName = $(this).val();
					if(keycode == '13') {
						e.preventDefault();
						//请求搜索接口
						vm.page = 1;
						vm.loadList();
					}
				});
			})
		</script>
	</body>

</html>