<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>求职信息</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="no">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="renderer" content="webkit">
		<meta name="screen-orientation" content="portrait">
		<meta name="full-screen" content="yes">
		<meta name="x5-orientation" content="portrait">
		<meta name="x5-fullscreen" content="true">
		<meta name="format-detection" content="telephone=no, email=no">

		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
		<script type="text/javascript" src="../../static/lib/js/vue.min.js"></script>
		<script type="text/javascript" src="../../static/lib/js/ydui.js"></script>
		<script type="text/javascript" src="../../js/aui-tab.js"></script>

		<link rel="stylesheet" href="../../css/mkui.css" />
		<link rel="stylesheet" href="../../static/lib/css/ydui.rem.css" />
		<link rel="stylesheet" href="../../static/css/common.css" />
		<link rel="stylesheet" href="../../css/aui.css" />
	</head>

	<body>
		<div id="app">
			<section class="content-list  lh-24" style="padding-top: 2.25rem;">
				<yd-infinitescroll :on-infinite="loadList">
					<yd-list theme="4" slot="list">
						<yd-list-item v-for="item in datalist" :href='item.url'>
							<p slot="title" class="f-16 ">
								<span>{{item.title}}</span>
								<span class="fr c-ec9d1d">{{item.salary}}</span>
							</p>
							<yd-list-other slot="other">
								<h4 class="f-14 overflow-h "><span class="fl">{{item.showfullname==1?item.orgName:hideStr(item.orgName)}}</span><span class="ml-15">{{item.gender}}   {{item.age}}</span><span class="fr time mr-8 ">{{item.created_at}}</span></h4>
								<p class="recruit-pos f-14 mt-5 pos-name">
									<span>{{item.city}}</span>
									<span class="ml-10">{{item.experience}}</span>
									<span class="ml-10">{{item.education}}</span></p>
							</yd-list-other>
						</yd-list-item>
					</yd-list>
					<!-- 数据全部加载完毕显示 -->
					<span slot="doneTip" class="text-c mt-5 f-14">全部数据已加载完成</span>
					<!-- 加载中提示 -->
					<img slot="loadingTip" src="../../static/img/loading10.svg" />
				</yd-infinitescroll>
			</section>
			<section style="position: fixed; left: 0px; top: 0px; width: 100%;">
				<div class="aui-tab" id="tab">
					<div id="gongying" class="aui-tab-item aui-active">供应信息</div>
					<div id="zhaobiao" class="aui-tab-item">招标信息</div>
					<div id="zhaopin" class="aui-tab-item" v-if="type==1">招聘信息</div>
					<div id="qiuzhi" class="aui-tab-item" v-else>求职信息</div>
					<div id="zixun" class="aui-tab-item">仝仝资讯</div>
				</div>
				<div style="background-color: lightgray; height: 1px;"></div>
			</section>
		</div>
	</body>

	<script type="text/javascript" src="../../js/config.js"></script>
	<script type="text/javascript">
		post('/webUser/Favorite', {
			pageNo: 1,
			pageSize: 10,
			messageType: 4,
			userId: localStorage.userId
		}, function(data) {
			console.log(data)
			vm.datalist = data.result;
		})

		var vm = new Vue({
			el: '#app',
			data: {
				pageNo: 2,
				pageSize: 10,
				type: localStorage.type,
				datalist: []
			},
			methods: {
				loadList: function() {
					post('/webUser/Favorite', {
						pageNo: vm.pageNo,
						pageSize: vm.pageSize,
						messageType: 4,
						userId: localStorage.userId
					}, function(data) {
						_list = data.result;
						vm.datalist = vm.datalist.concat(_list);
						if(vm.pageNo > 1 && _list.length < vm.pageSize) {
							window.$yduiBus.$emit('ydui.infinitescroll.loadedDone');
							return;
						}
						window.$yduiBus.$emit('ydui.infinitescroll.finishLoad');
						vm.pageNo++;
					})
				}
			}
		})

		var tab = new auiTab({
			element: document.getElementById("tab"),
			index: 3
		}, function(ret) {
			window.location.replace("../favorite/" + ret.dom.id + ".html")
		});
	</script>

</html>