<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>仝仝资讯</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="no">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="renderer" content="webkit">
		<meta name="screen-orientation" content="portrait">
		<meta name="full-screen" content="yes">
		<meta name="x5-orientation" content="portrait">
		<meta name="x5-fullscreen" content="true">
		<meta name="format-detection" content="telephone=no, email=no">

		<script src="../../static/lib/js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="../../static/lib/js/vue.min.js"></script>
		<script type="text/javascript" src="../../static/lib/js/ydui.js"></script>
		<script type="text/javascript" src="../../js/aui-tab.js"></script>

		<link rel="stylesheet" href="../../css/mkui.css" />
		<link rel="stylesheet" href="../../static/lib/css/ydui.rem.css" />
		<link rel="stylesheet" href="../../static/css/common.css" />
		<link rel="stylesheet" href="../../css/aui.css" />
		<link rel="stylesheet" href="../../static/css/zixun.css" />

		<style>
			.list-theme4 .list-item {
				height: 5.5rem;
			}
			
			.list-theme4 .list-item .list-img {
				width: 6.5rem!important;
				height: 5rem!important;
				padding: 0.2rem;
				float: left;
			}
			
			.list-theme4 .list-item .list-mes {
				height: 5.2rem;
				padding: 0;
				padding-top: 0.5rem;
				padding-right: 0.5rem;
			}
			
			.list-theme4 .list-item .list-mes .list-title {
				max-height: 2.5rem!important;
				height: 2.5rem;
				line-height: 1rem!important;
			}
			
			.list-theme4 .list-item .list-mes .list-other {
				display: flex!important;
			}
		</style>

	</head>

	<body>
		<div id="app">
			<section class="content-list  lh-24" style="padding-top: 2.2rem;">
				<yd-infinitescroll :on-infinite="loadList">
					<yd-list theme="4" slot="list">
						<a v-for="item in datalist" :href='"../../home/zixun/zixundetail.html?id="+item.id' class="list-item">
							<div class="list-img">
								<img :src="ip+item.imgUrl">
							</div>
							<div class="list-mes">
								<div class="list-title">
									<span>{{item.title}}</span>
								</div>
								<div class="list-other">
									<p class="overflow-h mt-10">
										{{item.category}}
									</p>
									<div>{{item.updatedAt}}</div>
								</div>
							</div>
						</a>
					</yd-list>
					<!-- 数据全部加载完毕显示 -->
					<span slot="doneTip">全部数据已加载完成</span>
					<!-- 加载中提示 -->
					<img slot="loadingTip" src="../../static/img/loading10.svg" />
				</yd-infinitescroll>
			</section>
			<section style="position: fixed; left: 0px; top: 0px; width: 100%;">
				<div class="aui-tab" id="tab">
					<div id="gongying" class="aui-tab-item aui-active">供应信息</div>
					<div id="zhaobiao" class="aui-tab-item">招标信息</div>
					<div id="zhaopin" class="aui-tab-item" v-if="type==1">招聘信息</div>
					<div id="qiuzhi" class="aui-tab-item" v-else>求职信息</div>
					<div id="zixun" class="aui-tab-item">仝仝资讯</div>
				</div>
				<div style="background-color: lightgray; height: 1px;"></div>
			</section>
		</div>
	</body>

	<script type="text/javascript" src="../../js/config.js"></script>
	<script type="text/javascript">
		post('/webUser/Favorite', {
			pageNo: 1,
			pageSize: 10,
			messageType: 1,
			userId: localStorage.userId
		}, function(data) {
			vm.datalist = data.result;
		})

		var vm = new Vue({
			el: '#app',
			data: {
				pageNo: 2,
				pageSize: 10,
				type: 1,
				datalist: []
			},
			methods: {
				loadList: function() {
					post('/webUser/Favorite', {
						pageNo: vm.pageNo,
						pageSize: vm.pageSize,
						messageType: 1,
						userId: localStorage.userId
					}, function(data) {
						_list = data.result;
						vm.datalist = vm.datalist.concat(_list);
						if(vm.pageNo > 1 && _list.length < vm.pageSize) {
							window.$yduiBus.$emit('ydui.infinitescroll.loadedDone');
							return;
						}
						window.$yduiBus.$emit('ydui.infinitescroll.finishLoad');
						vm.pageNo++;
					})
				}
			}
		})

		getUserInfo(localStorage.userId, function(data) {
			vm.type = data.result.type;
		})

		var tab = new auiTab({
			element: document.getElementById("tab"),
			index: 4
		}, function(ret) {
			window.location.replace("../favorite/" + ret.dom.id + ".html")
		});
	</script>

</html>