<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>新增供应订阅</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="no">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="renderer" content="webkit">
		<meta name="screen-orientation" content="portrait">
		<meta name="full-screen" content="yes">
		<meta name="x5-orientation" content="portrait">
		<meta name="x5-fullscreen" content="true">
		<meta name="format-detection" content="telephone=no, email=no">

		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
		<script type="text/javascript" src="../../static/lib/js/vue.min.js"></script>
		<script type="text/javascript" src="../../static/lib/js/ydui.js"></script>
		<script type="text/javascript" src="../../js/config.js"></script>
		<link rel="stylesheet" href="../../css/mkui.css" />
		<link rel="stylesheet" href="../../static/lib/css/ydui.rem.css" />

		<link rel="stylesheet" href="../../static/css/common.css" />
		<link rel="stylesheet" href="../../static/css/zhaopin-index.css" />
	</head>

	<body>
		<div id="app">
			<script>
				var Request = new QueryString();
				var itemid = Request["id"];
				var obj;
				if (itemid) {
					post1('/webUser/subscribePersonaListl', false, {
						"userId": localStorage.userId,
					}, function(data) {
						console.log(data);
						var jobDic = data.result.supply;
						this.obj = jobDic[itemid];
					})
				}
			</script>
			<section class="zp-body zhaobiao">
				<div class="zp-list overflow-h">
					<span class="fl">供应类别</span>
					<span class="fr" @click="choosegangwei()"><span id="gangwei">请选择</span><i class="ico-right1"></i></span>
				</div>
				<input type="hidden" id="choosedgangwei" />
				<div class="tab-panl none" id="gangweilist">
					<div class=" overflow-h">
						<ul class=" fl job">
							<li v-for="item in job">{{item.title}}</li>
						</ul>
						<div class="job-list fl none" v-for="item in joblist">
							<ul>
								<li v-for="j in item" @click="selectgangwei(j.id,j.title)">{{j.title}}</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="zp-list overflow-h">
					<span class="fl">供应城市</span>
					<span class="fr zp-next" @click="chooseaddress()"><span id="city">请选择</span><i class="ico ico-right1"></i></span>
					<input type="hidden" id="choosedprovince" />
					<input type="hidden" id="choosedprovincename" />
					<input type="hidden" id="choosedcity" />
				</div>
				<div class="tab-panl none" id="sl-dizhi">
					<div class=" overflow-h">
						<ul class=" province fl">
							<li v-for="item in province" @click="selectprovince(item.id,item.name)">{{item.name}}</li>
						</ul>
						<div class="city fl none" v-for="item in city">
							<ul>
								<li v-for="c in item" @click="selectcity(c.id,c.name)">{{c.name}}</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<div class="h-20"></div>
			<div class="sure-btn" @click="save()">保存</div>
		</div>
	</body>

	<script type="text/javascript">
		 //地址
		var province;
		var city;
		getCity(function(p, c) {
			province = p;
			city = c;
			if (this.obj) {
				selectProvinceAndCity();
			}
		});
		 //类别
		var job;
		var jobList;
		getClassifyTable(false, "zhaobiao", function(data) {
			var list = data.result;
			var job = [];
			var jobList = [];
			var jobM = {};
			for (var i = 0; i < list.length; i++) {
				var obj = list[i];
				if (obj.pid == 0) {
					job.push(obj);
				} else {
					jobList.push(obj);
				}
			}
			for (var i = 0; i < job.length; i++) {
				var array = [];
				for (var j = 0; j < jobList.length; j++) {
					if (job[i].id == jobList[j].pid) {
						array.push(jobList[j]);
						jobM['' + job[i].id] = array;
					}
				}
			}
			for (var i = 0; i < job.length - 1; i++) {
				for (var j = 0; j < job.length - 1 - i; j++) {
					if (job[j].id > job[j + 1].id) {
						var temp = job[j];
						job[j] = job[j + 1];
						job[j + 1] = temp;
					}
				}
			}
			this.job = job;
			this.jobList = jobM;
			if (this.obj) {
				selectGangweiA();
			}
		})
		var vm = new Vue({
			el: "#app",
			data: {
				province: province,
				city: city,
				job: this.job,
				joblist: this.jobList,
			},
			methods: {
				selectgangwei: function(id, name) {
					$("#choosedgangwei").val(id);
					$("#gangwei").text(name);
					$("#gangweilist").addClass('none');
				},
				choosegangwei: function() {
					$("#gangweilist").removeClass('none');
				},
				chooseaddress: function() {
					$("#sl-dizhi").show();
				},
				selectcity: function(id, name) {
					$("#city").html($("#choosedprovincename").val() + ' ' + name);
					$("#choosedcity").val(id);
					$("#sl-dizhi").hide();
				},
				selectprovince: function(id, name) {
					$("#choosedprovincename").val(name);
					$("#choosedprovince").val(id);
					$("#choosedcity").val('');
				},
				save: function() {
					if ($('#gangwei').text() == '请选择') {
						alert('请选择招标类别')
						return
					}
					if ($('#city').text() == '请选择') {
						alert('请选择工作城市')
						return
					}
					var dataa;
					var Request = new QueryString();
					var itemid = Request["id"];
					if (itemid) {
						dataa = {
							"userId": localStorage.userId,
							"province": $("#choosedprovince").val(),
							"city": $("#choosedcity").val(),
							"category_id": $("#choosedgangwei").val(),
							"subscribeType": "5",
							"operationIndex": itemid,
							"operationType": 1
						}
					} else {
						dataa = {
							"userId": localStorage.userId,
							"province": $("#choosedprovince").val(),
							"city": $("#choosedcity").val(),
							"category_id": $("#choosedgangwei").val(),
							"subscribeType": "5",
						}
					}
					post('/webUser/subscribePersonal', dataa,
						function(data) {
							console.log(data);
							if (data.result_code == '1') {
								alert("订阅成功!");
								window.history.go(-1);
							} else {
								alert("订阅失败，请重试！");
							}
						})
				},
			},
		});
		$(function() {
			$('.province li').click(function() {
				$('.city').eq($(this).index()).removeClass('none').siblings('.city').addClass('none');
				$(this).css('background', '#FFFFFF').siblings('.province li').css('background', '#ededed');
			});
			$('.city li').click(function() {
				$('.address span').text($(this).text())
				$(this).addClass('current').siblings('.job-list li').removeClass('current');
				$('.tab-panl').addClass('none')
			});
			/*职位*/
			$('.job li').click(function() {
				$('.job-list').eq($(this).index()).removeClass('none').siblings('.job-list').addClass('none');
				$(this).css('background', '#FFFFFF').siblings('.job li').css('background', '#ededed');
			});
		})

		function selectGangweiA() {
			$("#choosedgangwei").val(this.obj.category_id);
			$("#gangwei").text(this.obj.categoryName);
		}

		function selectProvinceAndCity() {
			//			$("#choosedprovincename").val(this.bigdata.province);
			$("#choosedprovince").val(this.obj.provinceId);
			$("#city").html($("#choosedprovincename").val() + ' ' + this.obj.display);
			$("#choosedcity").val(this.obj.city);
		}
	</script>

</html>