<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>编辑订阅</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="no">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="renderer" content="webkit">
		<meta name="screen-orientation" content="portrait">
		<meta name="full-screen" content="yes">
		<meta name="x5-orientation" content="portrait">
		<meta name="x5-fullscreen" content="true">
		<meta name="format-detection" content="telephone=no, email=no">

		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
		<script type="text/javascript" src="../../static/lib/js/vue.min.js"></script>
		<script type="text/javascript" src="../../static/lib/js/ydui.js"></script>
		<script type="text/javascript" src="../../js/config.js"></script>
		<link rel="stylesheet" href="../../css/mkui.css" />
		<link rel="stylesheet" href="../../static/lib/css/ydui.rem.css" />

		<link rel="stylesheet" href="../../static/css/common.css" />
	</head>

	<body>
		<div id="app" hidden>
			<script>
				post('/webUser/subscribePersonaListl', {
						"userId": localStorage.userId
					},
					function(data) {
						console.log(data);
						var recruitDic = data.result.recruit;
						for (var i = 0; i < recruitDic.length; i++) {
							var obj = recruitDic[i];
							obj.id = i;
						}
						vm.dyzp = recruitDic;
						var tenderDic = data.result.tender;
						for (var i = 0; i < tenderDic.length; i++) {
							var obj = tenderDic[i];
							obj.id = i;
						}
						vm.dyzb = tenderDic;
						var supplyDic = data.result.supply;
						for (var i = 0; i < supplyDic.length; i++) {
							var obj = supplyDic[i];
							obj.id = i;
						}
						vm.dygy = supplyDic;
						var jobDic = data.result.job;
						for (var i = 0; i < jobDic.length; i++) {
							var obj = jobDic[i];
							obj.id = i;
						}
						vm.dyqz = jobDic;
					})
			</script>
			<div v-if="type">
				<section v-for="item in dyzp" class="editor-head">
					<p class="recruit-pos overflow-h">
						<span id="gongsi">招聘信息</span>
						<span class="delet fr" style="color: rgb(48, 149, 227);">
							<a :href="'dyzhaopin.html?id='+item.id" >编辑</a>
						</span> <span class="fr shanchu" style="color: rgb(236, 157, 29);">
							<!--<a onclick="del(3,0)">删除</a>-->
							<a @click="del(3,item.id)">删除</a>
						</span>
					</p>
					<div class="recruit-header overflow-h">
						<h3 class="fl">{{item.gangwei}}</h3>
						<p class="fr" v-for="item1 in item.fuliNames">{{item1}}</p>
					</div>
					<p class="recruit-pos">公司性质：<span>{{item.companytype}}</span></p>
					<p class="recruit-pos overflow-h"><span>{{item.display}}/{{item.jingyan}}/{{item.xueli}}/{{item.zhicheng}}</span></p>
				</section>
				<p class="zbxx">
					<a href="dyzhaopin.html">+招聘信息</a>
				</p>
			</div>

			<div v-else>
				<section v-for="item in dyqz" class="editor-head">
					<p class="recruit-pos overflow-h"><span id="gongsi">求职信息</span>
						<span class="delet fr" style="color: rgb(48, 149, 227);">
							<a :href="'dyqiuzhi.html?id='+item.id">编辑</a>
						</span>
						<span class="fr shanchu" style="color: rgb(236, 157, 29);">
							<!--<a onclick="del(4,item.id)">删除</a>-->
							<a @click="del(4,item.id)">删除</a>
						</span>
					</p>
					<div class="recruit-header overflow-h">
						<h3 class="fl">{{item.gangwei}}</h3></div>
					<p class="recruit-pos overflow-h"><span>{{item.display}}/{{item.jingyan}}/{{item.xueli}}/{{item.zhicheng}}</span></p>
				</section>
				<p class="zbxx">
					<a href="dyqiuzhi.html">+求职信息</a>
				</p>
			</div>

			<section v-for="item in dyzb" class="editor-head">
				<p class="recruit-pos overflow-h"><span id="gongsi">招标信息</span>
					<span class="delet fr" style="color: rgb(48, 149, 227);">
						<a :href="'dyzhaobiao.html?id='+item.id">编辑</a>
					</span>
					<span class="fr shanchu" style="color: rgb(236, 157, 29);">
						<!--<a onclick="del(2,item.id)">删除</a>-->
						<a @click="del(2,item.id)">删除</a>
					</span>
				</p>
				<div class="recruit-header overflow-h">
					<h3 class="fl">{{item.categoryName}}</h3>
					<p class="fr">{{item.display}}</p>
				</div>
			</section>
			<p class="zbxx">
				<a href="dyzhaobiao.html">+招标信息</a>
			</p>
			<section v-for="item in dygy" class="editor-head">
				<p class="recruit-pos overflow-h"><span id="gongsi">供应信息</span>
					<span class="delet fr" style="color: rgb(48, 149, 227);">
						<a :href="'dygongying.html?id='+item.id">编辑</a>
					</span> <span class="fr shanchu" style="color: rgb(236, 157, 29);">
						<!--<a onclick="del(5,item.id)">删除</a>-->
						<a @click="del(5,item.id)">删除</a>
					</span>
				</p>
				<div class="recruit-header overflow-h">
					<h3 class="fl">{{item.categoryName}}</h3>
					<p class="fr">{{item.display}}</p>
				</div>
			</section>
			<p class="zbxx">
				<a href="dygongying.html">+供应信息</a>
			</p>
		</div>
	</body>

	<script type="text/javascript">
		getUserInfo(localStorage.userId, function(data) {
			if (data.result.type == 1) {
				vm.type = true;
			}else{
				vm.type = false;
			}
			$('#app').show();
		})
		 $(function() {
			var isPageHide = false;
			window.addEventListener('pageshow', function() {
				if (isPageHide) {
					window.location.reload();
				}
			});
			window.addEventListener('pagehide', function() {
				isPageHide = true;
			});
		})
		var vm = new Vue({
			el: '#app',
			data: {
				type: false,
				dyzp: [{}, ],
				dyzb: [{}, ],
				dyqz: [{}, ],
				dygy: [{}, ]
			}
		})

		function del(type, id) {
			var mymessage = confirm("确认删除？");
			if (mymessage == false) {
				return;
			}
			post('/webUser/subscribePersonal', {
				"userId": localStorage.userId,
				"subscribeType": type,
				"operationType": 0,
				"operationIndex": id
			}, function(data) {
				if (data.result_code == '1') {
					alert("删除成功!");
					document.location.reload();
				} else {
					alert("删除失败，请重试！");
				}
			})
		}
	</script>

</html>