<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>我的订阅</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="no">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="renderer" content="webkit">
		<meta name="screen-orientation" content="portrait">
		<meta name="full-screen" content="yes">
		<meta name="x5-orientation" content="portrait">
		<meta name="x5-fullscreen" content="true">
		<meta name="format-detection" content="telephone=no, email=no">

		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
		<script type="text/javascript" src="../../static/lib/js/vue.min.js"></script>
		<script type="text/javascript" src="../../static/lib/js/ydui.js"></script>
		<script type="text/javascript" src="../../js/aui-tab.js"></script>
		<script type="text/javascript" src="../../js/config.js"></script>

		<link rel="stylesheet" href="../../css/mkui.css" />
		<link rel="stylesheet" href="../../static/lib/css/ydui.rem.css" />
		<link rel="stylesheet" href="../../static/css/common.css" />
		<link rel="stylesheet" href="../../css/aui.css" />
	</head>

	<body>
		<div id="app">
			<section class="content-list  lh-24" style="padding-top: 2.25rem;">
				<yd-infinitescroll :on-infinite="loadList">
					<yd-list theme="4" slot="list">
						<yd-list-item v-for="item in datalist" :href='item.url'>
							<p slot="title" class="f-16 "><span>{{item.title}}</span><span class="fr c-ec9d1d">{{item.price}}/{{item.unit}}</span></p>
							<yd-list-other slot="other">
								<h4 class="mt-10 f-14 overflow-h"><span class="fl">{{item.city}}</span><span class="ml-15">{{item.quantity}}{{item.unit}}</span><span class="fr time mr-8 ">{{item.created_at}}</span></h4>
								<p class="recruit-pos f-14 mt-5 ">{{item.provider}}</p>
							</yd-list-other>
						</yd-list-item>
					</yd-list>
					<!-- 数据全部加载完毕显示 -->
					<span slot="doneTip" class="text-c mt-5 f-14">全部数据已加载完成</span>
					<!-- 加载中提示 -->
					<img slot="loadingTip" src="/static/img/loading10.svg" />
				</yd-infinitescroll>
			</section>
			<section style="position: fixed; left: 0px; top: 0px; width: 100%;">
				<div style="display: inline-flex; width: 100%; background: white; align-items: center;">
					<div class="aui-tab" id="tab" style="width: 80%;">
						<div id="gongying" class="aui-tab-item aui-active">供应信息</div>
						<div id="zhaobiao" class="aui-tab-item">招标信息</div>
						<div id="zhaopin" class="aui-tab-item" v-if="type">招聘信息</div>
						<div id="qiuzhi" class="aui-tab-item" v-else>求职信息</div>
					</div>
					<a href="editdingyue.html" class="aui-btn aui-btn-info" style="margin: auto;">编辑</a>
				</div>
				<div style="height: 1px; background: #03A9F4;"></div>
			</section>
		</div>
	</body>

	<script type="text/javascript">
		//		post('查询列表', {},
		//			function(data) {
		//				console.log(data);
		//			})
		var vm = new Vue({
			el: '#app',
			data: {
				type: true,
				datalist: [{
						title: "111111",
						price: "1000元",
						unit: "吨",
						city: "北京",
						quantity: "800",
						created_at: "2017-10-02",
						provider: "北京市海淀区"
					}, {
						title: "111111",
						price: "1000元",
						unit: "吨",
						city: "北京",
						quantity: "800",
						created_at: "2017-10-02",
						provider: "北京市海淀区"
					}, {
						title: "111111",
						price: "1000元",
						unit: "吨",
						city: "北京",
						quantity: "800",
						created_at: "2017-10-02",
						provider: "北京市海淀区"
					}, {
						title: "111111",
						price: "1000元",
						unit: "吨",
						city: "北京",
						quantity: "800",
						created_at: "2017-10-02",
						provider: "北京市海淀区"
					}, {
						title: "111111",
						price: "1000元",
						unit: "吨",
						city: "北京",
						quantity: "800",
						created_at: "2017-10-02",
						provider: "北京市海淀区"
					},
					{
						title: "111111",
						price: "1000元",
						unit: "吨",
						city: "北京",
						quantity: "800",
						created_at: "2017-10-02",
						provider: "北京市海淀区"
					},
					{
						title: "111111",
						price: "1000元",
						unit: "吨",
						city: "北京",
						quantity: "800",
						created_at: "2017-10-02",
						provider: "北京市海淀区"
					},
					{
						title: "111111",
						price: "1000元",
						unit: "吨",
						city: "北京",
						quantity: "800",
						created_at: "2017-10-02",
						provider: "北京市海淀区"
					}
				]
			},
			methods: {
				loadList: function() {

				}
			}
		})

		if(localStorage.type == 1) {
			console.log(localStorage.type);
			vm.type = true;
		} else {
			vm.type = false;
		}
		var tab = new auiTab({
			element: document.getElementById("tab"),
			index: 1
		}, function(ret) {
			window.location.replace("../dingyue/" + ret.dom.id + ".html")
		});
	</script>

</html>